[2014-11-23 07:52] #1480 closed, assigned to eeshangarg

[2014-11-23 07:59] #1369 closed, assigned to nobody

[2014-11-23 16:04] willingc opened #1485 "Edit documentation to clarify email in Get In Touch section"
http://openhatch.readthedocs.org/en/latest/getting_started/getting_started.html#get-in-touch

The text in the last paragraph of this documentation section mentions `devel@openhatch.org`. It would be better to have the email be `devel@lists.openhatch.org`.

Thanks :)

[2014-11-23 18:56] #1485 closed, assigned to nobody

[2014-11-23 20:37] #1367 closed, assigned to nobody

[2014-12-02 20:26] c-schmitz opened #1492 "Add support for Mantis bug tracker"
MantisBT ( http://www.mantisbt.org ) is one of the oldest FOSS bug trackers out there and there is no support for it yet on OpenHatch. MantisBT is widely used so it would be nice to have it supported.

Thank you!

[2014-12-06 04:09] #1492 closed, assigned to nobody

[2014-12-08 13:53] mfitzp opened #1495 "Move static content to a subdomain"
Static content (images, etc.) are being served from a subdirectory but on the same server e.g. http://openhatch.org/static/images/penguin.png

Serving these files via a subdomain could improve the performance/loading time of any pages containing images. Serving on `nginx` with long cache values should help even further.

My Django-foo is a bit out of date but the way I've done it before is adding

[2014-12-14 10:42] #1256 closed, assigned to nobody

[2014-12-14 10:49] #373 closed, assigned to nobody

[2014-12-14 11:11] #1424 closed, assigned to ehashman

[2014-12-15 12:14] #1481 closed, assigned to nobody

[2014-12-15 15:37] pbx opened #1500 "In profile edit, "How to contact me" instructions should say "text area below" but say "text area above""

[2014-12-15 16:52] shaunagm opened #1501 "Include soft skills in project content"
I've been looking at Igor Steinmacher's [website](http://flosscoach.com/) and enjoying a lot of the information he provides to newcomers.  Unfortunately you have to login to see what I'm talking about, but I particularly like that projects list "soft skills" you need to know about.  I think it would be great if we encouraged our projects to list the community norms and social skills encouraged by

[2014-12-15 17:05] shaunagm opened #1502 "Projects page CSS is messy"
In Chrome 38 and Firefox 33 on Ubuntu 14.04 anyway.  Attaching a screenshot.  Things that bother me include:
- No space between the left and right hand columns.
- That weird blue-trimmed-by-yellow bar at the top of the Q&A section.
- Pretty much everything about the little "Q&A" box - why is there no space between it and the weird blue bar?  Why does only part of it overlap that bar?  Why is there

[2014-12-16 17:41] dirkbaechle opened #1503 "Bug crawling process still throws errors due to empty issue descriptions..."
@ehashman @paulproteus
After some magic fix on your side (Big thanks for this!), basic bug scraping seems to work again (see latest logs at http://inside.openhatch.org/crawl-logs/ )...but still no SCons bugs show up on our project's page. When looking at the latest log, there is the message:

IntegrityError: (1048, "Column 'description' cannot be null")

at the end. This looks like a Django error

[2014-12-16 22:00] ehashman opened #1504 "Add "log in" link for UX Improvement for SVN mission"
If you visit http://openhatch.org/missions/svn and are not logged in, the page says

It would be nice if "logged in" was a link to log in that redirected back to the SVN mission.

[2014-12-16 23:01] #1503 closed, assigned to nobody

[2014-12-23 07:02] blairg23 opened #1506 "Link to "Contribute" is broken"
When I clicked the link found at http://imdbpy.sourceforge.net/development.html#contribute , I was sent to https://openhatch.org/+projects/IMDbPY , which resulted in a 404 error.

[2014-12-23 07:13] blairg23 opened #1507 "Microsoft Windows Installer (MSI) Package not always functional."
Tried running the MSI package on my Windows 7 64 bit box and got an error: MSVCR120.dll missing or corrupt. I looked up this error and it says it has to do with Visual Studio 2013 and is not provided by Windows. It might be a little steep to require Windows Python developers to purchase VS2013 to install this product easily.

[2014-12-23 07:17] #1507 closed, assigned to nobody

[2014-12-30 22:14] #1504 closed, assigned to nobody

[2014-12-31 13:56] willingc opened #1510 "JSON error when editing project link in profile"
As reported by Anurag via email:

Hello everyone,

Yesterday I was trying to update my portfolio on Openhatch, but couldn't add a "link" in the project section. After clicking the "save" the page freezes.
I tried refreshing several times but no improvement.

I am attaching a snapshot with this mail, which contains an error message from the console as well.

Thanks
![screenshot from 2014-12-31 18-0

[2015-01-01 16:41] JasonWoof opened #1512 "blog layout borked"
seems like there's still CSS problems on your blog posts, eg http://blog.openhatch.org/2014/newsletter-november-december-2014/

for me the left-hand side-bar is about 1 inch wide, and the content column is half the width of the image (movie still)

looks like it's because the "width" attribute of ".two-column-left" and ".two-column-right" have a lower precedence than the "width" of ".column"

coul

[2015-01-01 17:52] jbpend commented on #1399
I have this issue also, but it only seems to happen when I submit the correct inputs.  Incorrect inputs correctly produce the "wrong info submitted" error.

[2015-01-01 20:13] willingc commented on #1399
@jbpen Thank you for sharing your experience with this issue. My apologies for the issue on the mission, and I appreciate your time in filing this. :penguin:

If you have any interest in trying to work on debugging this issue, please leave a message here. Happy new year!

[2015-01-02 02:54] ehashman commented on #1446
No problem @eeshangarg, good luck on your finals. Just wanted to make sure this hadn't fallen off your radar!

[2015-01-02 07:34] ehashman commented on #1500
#1513 closes this.

[2015-01-02 07:34] #1500 closed

[2015-01-02 22:11] vipul-sharma20 commented on #386
Can I work on this feature ? I've already started with some initial code. Please let me know if I can help on this.

[2015-01-02 22:46] ehashman commented on #386
This is a very old issue (filed in Feb. 2012!), so I'd first want to get some feedback from @shaunagm and maybe @brittag about whether this is still desired.

@vipul-sharma20, I'm really excited that you're interested in working on OpenHatch and would love to help you out! Perhaps we can find some smaller things for you to work on in the meantime while we wait for feedback? :)

[2015-01-02 22:55] vipul-sharma20 commented on #386
ok, thanks for the info :) will look for some other issue till then.

[2015-01-02 23:06] ehashman commented on #386
@vipul-sharma20: if you haven't already, I also suggest that you join us on [our IRC channel](http://openhatch.readthedocs.org/en/latest/community/contact.html#chat-with-us-on-irc) to chat about what you might work on!

[2015-01-03 01:15] arindampradhan opened #1514 "Adding a resolving conflicts and rewriting history doc."
It would be great if we have a rewriting history and resolving conflicts docs.It will be helpful when a pull request needs modification .That would surely help people new to the project get to know the importance of pull request and version control .

Being new to version control system the few things I got to know about git:
* It is not a file tracker but a content tracker (it **does not track em

[2015-01-03 09:26] willingc commented on #1462
Closing. Resolved by PR #1475. Thank you @eeshangarg. :penguin:

[2015-01-03 09:26] #1462 closed

[2015-01-03 09:32] willingc commented on #1476
Closed by PR #1483. Thank you @arindampradhan :penguin:

[2015-01-03 09:32] #1476 closed

[2015-01-03 17:21] willingc commented on #1399
@ehashman @paulproteus I could use your expertise on resolving this 500 issue.

When `DEBUG=True` in `settings.py`, the mission works correctly. When `DEBUG=False` in `settings.py`, the static files do not render correctly which I believe is a combination of Cloudflare and the difference between `settings.py` and `deployment_settings.py`.

If you have any thoughts on which settings to change, I wo

[2015-01-03 18:16] shaunagm commented on #386
This seems like a nice feature to have, though certainly not a very high priority. As long as it can be added neatly into the codebase, I'm + on it.

[2015-01-03 19:19] impaktor opened #1515 "Github Project issues not seen by openhatch"
I added a project three weeks ago:
https://openhatch.org/projects/pioneer
and added a tracker:
https://openhatch.org/customs/edit/github/379/pioneer
to scrape our github:
 https://github.com/pioneerspacesim/pioneer

But no issues are being picked up.

I've compared our setup with other github projects on openhatch like [ipython](https://openhatch.org/customs/edit/github/118/ipython), and their set

[2015-01-03 19:25] pdurbin commented on #1515
See also:

- http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2014-12-29#i_3536111
- http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2014-12-31#i_3537561
- http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-01-03#i_3539057

[2015-01-03 20:01] willingc commented on #1515
@ehashman @paulproteus I spent some time going through this issue today. What is odd is that the bug tracker does not display here http://openhatch.org/+projedit/pioneer
Yet it is accessible via https://openhatch.org/customs/edit/github/379/pioneer

[2015-01-04 05:08] ehashman commented on #1515
Here's the log entry showing the scrape failed:

[code]

What could be causing a 403?

[2015-01-04 05:10] ehashman commented on #386
@vipul-sharma20, looks like you are in the clear (though you might want to talk to Shauna about higher priority feature work).

On the topic of triaging old bugs, we're going to look to do so sometime in the next few weeks. I'll probably organize, and send details to devel@ soon!

[2015-01-04 15:37] eeshangarg commented on #1514
Hello @arindampradhan!

I recently had the opportunity to work on a couple of bugfixes for the [Sahana Eden project](http://eden.sahanafoundation.org/) as a part of my Google Code-In 2015 assignments; and one thing I like about their contributor documentation is that they have a [page](http://eden.sahanafoundation.org/wiki/DeveloperGuidelines/Git) on their wiki that is completely devoted to Git wo

[2015-01-04 18:44] paulproteus commented on #1515
Huge thanks to all y'all for doing this investigative work. I had misunderstood the problem.

With @ehashman 's help I filed https://github.com/openhatch/oh-bugimporters/issues/110 which addresses the technical side of getting this fixed, I think.

[2015-01-04 19:00] ehashman commented on #1515
From IRC:

[code]

We'll see if rate-limiting the requests via Scrapy fixes the problem. Closing this issue as we've refiled it under the applicable repo. Thanks for your report, @impaktor!

[2015-01-04 19:10] ehashman commented on #1514
I would agree with Eeshan: a lot of excellent documentation exists elsewhere and there's no need to reinvent the wheel, but it would be good to provide more guidance in our docs for newbies. +1 to linking offsite resources in our documentation.

Another thing I thought of is the creation of an "advanced" git training mission that requires the use of these skills, e.g. squashing commits and trackin

[2015-01-04 19:55] willingc commented on #1515
@ehashman @paulproteus Thanks for the fix :)

I learned recently that GitHub has different rate limits for authenticated vs. unauthenticated requests. https://developer.github.com/v3/#rate-limiting might help if we hit a limit.

@impaktor Thanks for your patience and @pdurbin for keeping the issue moving forward :)

[2015-01-04 23:55] arindampradhan commented on #1514
@eeshangarg and @ehashman creating a git training mission for that looks a great idea to me...I could n't agree more.... :) ..I think introducing tools like kdiff3 to people will be great though.... :)

[2015-01-05 00:24] willingc commented on #1514
@arindampradhan,@eeshangarg, and @ehashman: It would be awesome to condense the good info from this thread and create a contributor doc perhaps under the Advanced section https://github.com/openhatch/oh-mainline/tree/master/docs/advanced

'Working with git' or something like that could be a title. It doesn't have to be long. Just introducing kdiff3 and other links would be great.

Anyone intereste

[2015-01-05 00:41] arindampradhan commented on #1514
@willingc ya sure :) ,that would be great..I would like to work on it.
 Just concluding happy new year to all :D  http://xkcd2.com/1296/ found a xkcd link on that ;)

[2015-01-05 19:05] laarmen commented on #1515
I *think* this was supposed to be fixed during the last run, however the Pioneer bug tracker still returns a 403 in the logs at http://inside.openhatch.org/crawl-logs/scrapy.2015-01-05.en3a.log

Was it deployed in production at that time?

[2015-01-06 02:26] #1306 closed

[2015-01-06 02:46] willingc commented on #1514
@arindampradhan Cool. Thanks for the comic too :laughing:

[2015-01-06 09:15] impaktor commented on #1515
pioneer is not in latest logs ([2015-01-15](http://inside.openhatch.org/crawl-logs/scrapy.2015-01-06.MMYM.log)), but I still can't see any of our issues on Openhatch. Nor are there any "volunteer opportunities" indexed, which I assume is the same problem.

Looking at other github projects like https://openhatch.org/projects/Thrive their [issues](https://github.com/Revolutionary-Games/Thrive/issues

[2015-01-06 14:20] anurag619 commented on #1510
So, basically I just have to replace simplejson with json?

[2015-01-06 14:50] willingc commented on #1515
@impaktor and @laarmen, I'm sorry that the latest changes didn't get the root cause(s) resolved. I thank you for your assistance.

@paulproteus, @ehashman, @pdurbin: I'm reopening this issue until it and https://github.com/openhatch/oh-bugimporters/issues/110 are working as expected.

I'm starting an etherpad about the flow from bug tracker profile submission to actual display of bugtracker info s

[2015-01-06 15:54] willingc commented on #1510
@anurag619 Yes, you would import json instead of simplejson. I would also look at all of the json and simplejson mentions in the file and see if any of them need to be edited. Thanks.

[2015-01-06 21:53] shaunagm commented on #1512
I tried to fix this quickly, but found that the development process for the site has changed.  @paulproteus or anyone else who knows what the new process is, can you update the documentation?

[2015-01-07 12:20] anurag619 commented on #1510
Strange, I am able to add urls now, did anyone added some code there ?

Also I would like to add, what if I want to remove/edit the added urls ?

[2015-01-07 16:11] willingc commented on #1512
Ok I think that I may have figured out what may have changed the blog layout. Mind you this is an educated guess

PR#1474 change the base.less file .column left-margin to -1px.
There is a prior comment in two_column.less that changing the left-margin could mess up the blog: https://github.com/openhatch/oh-mainline/blob/98331703bc6cf5ecec711575a5e44c5f39b8d51e/mysite/static/less/base/two_column.les

[2015-01-07 16:13] willingc commented on #1512
I should add that it appears that two_column.less is using the .column width in calculations.

[2015-01-07 18:48] shaunagm commented on #1512
Still unclear how to test your changes without deploying.  @paulproteus, can you chime in here?  We've had a couple people want to tackle this bug and get stymied by lack of documentation.

[2015-01-07 21:20] paulproteus commented on #1512
@willingc asked me about it in IRC, and I thought I'd paste my answer here, in the hopes that it can be useful:

[code]

So that's one idea. Sorry it's a bit of a mess to preview changes to the blog.

[2015-01-08 16:07] willingc commented on #1512
It looks like @paulproteus' suggestion will help. I'm posting a doc that I found for Google Chrome as a reminder to add it into documentation about developing for the openhatch blog: https://developer.chrome.com/devtools/docs/elements

[2015-01-10 17:27] arindampradhan commented on #1514
@willingc I have added the docs for git ,please suggest changes if required :)

[2015-01-11 13:30] eeshangarg commented on #1514
Hi @ehashman!

Here are my thoughts on an advanced Git training mission:

In my humble opinion, if the mission is supposed to be non-interactive, then I think links to the relevant external resources in our Contributor Guide as well as at the end(quick reference) of the existing Git training mission should suffice, but again, due to lack of knowledge and experience, I can be wrong about this. On t

[2015-01-11 23:22] ehashman commented on #1514
@eeshangarg wrote:

I agree, Eeshan! While I think the docs that @arindampradhan is writing are very valuable, I think it would be equally valuable to create an interactive mission to test out one's skills. I think you should file a separate issue for the advanced git training mission.

I'm not 100% sure about Mercurial, but I'm pretty sure an IRC mission has already been filed. You can check by d

[2015-01-12 18:58] #1427 closed

[2015-01-13 00:15] paulproteus opened #1519 "Remove "name" field from Tracker models"
Relevant IRC copy-pasta:

[code]

[2015-01-14 16:34] shaunagm commented on #1512
Working on this now.  @paulproteus - your method is working for me, though it's a little elaborate and puts a pretty big barrier to newcomers wanting to make changes to the blog layout and is also not documented.

@JasonWoof - I made the change you suggested with no luck.  I'm not sure I understand your reasoning.  Why does .column have higher precedence than .two-column-left?  (I'm not super fami

[2015-01-14 16:47] shaunagm commented on #1512
Investigating further: column has precedence over two-column-left/right in both the correct and incorrect version.  What's different in the borked version is that column has a width attribute, 32%.  It doesn't have any width overrides in the correct version.  Same thing for both righthand and lefthand sides - I think this is the issue.

But where's it's source?  I can't figure it out using the ins

[2015-01-14 17:01] shaunagm commented on #1512
Okay, found the (probable) source:
https://github.com/openhatch/oh-mainline/blob/e370f3e00d9bf30118e4419872209870ae5d0372/mysite/static/less/base/base.less#L301

Also attaching screenshot for @paulproteus
![screenshot from 2015-01-14 12 00 23](https://cloud.githubusercontent.com/assets/1179362/5743095/0cd5a7aa-9be5-11e4-9d44-104f266390cf.png)

[2015-01-14 17:23] JasonWoof commented on #1512
In general, you can make a CSS rule have higher precedence by making the rule longer. eg replacing ".two-col" with "body .two-col". It would probably also work to specify it like ".column.two-col" which means that this rule is for elements having both of those classes (note the lack of a space between them, if you add a space, then it matches a .two-col inside a .column)

[2015-01-14 22:57] dirkbaechle commented on #1515
Might be related to https://github.com/openhatch/oh-bugimporters/issues/108

[2015-01-15 05:21] #1514 closed

[2015-01-15 13:24] willingc commented on #1512
Reopening this issue since the recent blog post still looks like the text and photos are overrunning the box outlines. At least on Chrome.

[2015-01-15 13:48] willingc commented on #1512
I am happy to re-close this issue. As discussed with Asheesh on IRC, Firefox worked fine. In Chrome, the incognito mode worked without needing to clear the browser cache. The standard Chrome mode required clearing the cache and then reloading the page.

A Google help document which my help someone down the road: https://support.google.com/chrome/answer/2457690?hl=en&ref_topic=3227046

Thanks to ev

[2015-01-15 13:48] #1512 closed

[2015-01-19 11:58] sri-teja commented on #1385
Hello all,
I want to work on this. Can anyone suggest me how to proceed?

[2015-01-25 13:23] sandeepraju commented on #1437
@ehashman This looked like a quick thing to fix but doesn't seem so. Sticking the footer to the bottom is only possible if the height of it is fixed[1] (which is not the case due to the google custom search widget results which varies the footer size). The only other way is to use the new css flex[2] (which is still a working draft - bad idea to use this).

My current fix is here (which doesn't ta

[2015-01-25 19:19] willingc commented on #323
Recommend closing since the GitHub API has evolved quite a bit since this issue.

[2015-01-25 19:19] #323 closed

[2015-01-25 20:00] willingc commented on #1235
Closing this issue. Please refer to PR #245.

[2015-01-25 20:00] #1235 closed

[2015-01-25 20:11] willingc commented on #1216
The next action for this issue would be to look at the existing documentation and develop a recommendation on how to add the suggested links in the issue to the existing documentation.

[2015-01-25 20:12] paulproteus commented on #380
This isn't relevant anymore, as there is no profile importer.

[2015-01-25 20:12] #380 closed

[2015-01-25 20:14] paulproteus commented on #379
Since we don't do any kind of profile importing anymore, we won't be able to implement this feature.

If we do re-add a profile importer, we can come back to this.

[2015-01-25 20:14] #379 closed

[2015-01-25 20:17] paulproteus commented on #704
We no longer have a profile importer, so I'm closing this. It's convenient that removing code means we don't have to fix user experience problems.

Regardless, thanks @akkana for filing it!

[2015-01-25 20:17] #704 closed

[2015-01-25 20:21] shaunagm commented on #1216
To get this up to date we'd need to have a thorough understanding of how wordpress theming actually works.  I semi-understand it after [this](https://github.com/openhatch/oh-mainline/issues/1512).  I can either tackle this issue and run it by @paulproteus to make sure it's correct, or pair with someone to tackle it (and then run it by @paulproteus to make sure it's correct).

[2015-01-25 20:30] paulproteus commented on #510
We do still get project icons from Ohloh. And they're still not always right.

...then again, does this feature actually work? If we deleted it, would anyone notice? Hmm.

[2015-01-25 20:39] willingc commented on #1249
It would be nice to provide more guidance to a user new to bash on how to self solve issues that may arise during the mission. Perhaps additional hints would be helpful.

[2015-01-25 20:43] paulproteus commented on #510
I just confirmed that the feature does not work. I'll file a new issue for deleting the code.

[2015-01-25 20:43] #510 closed

[2015-01-25 20:56] paulproteus opened #1524 "Fully remove populate_icon_from_ohloh() method, and all the code that supports it"
Right now, we have some code in `mysite/customs/ohloh.py` that supposedly downloads project icons from Ohloh.net. However, we seemingly never actually call this code. Therefore, we should delete it.

*More details*

Historically (see e.g. #510 ), when saving a new project from the portfolio editor, the `oh-mainline` code would talk to `ohloh.net` to try to find an icon for the project.

However, u

[2015-01-27 09:00] willingc commented on #1428
#1527 closes issue

[2015-01-27 09:00] #1428 closed

[2015-01-27 18:46] ankitjavalkar commented on #1032
@ehashman I would like to work on this bug.
So based on my communication with @shaunagm, what I understood is that - I need to find all references to signals.post_save and signals.pre_save in our code, verify that there are no table modifications in the methods where signals.post_save and signals.pre_save are called.
In case there are any table modifications - I should pass raw=True as an argument

[2015-01-28 01:47] arindampradhan commented on #1524
Hi @paulproteus, I would like to work on this:

On ``$ git grep populate_icon_from_ohloh``

    mysite/customs/tests.py:    def test_populate_icon_from_ohloh(self):
    mysite/customs/tests.py:        project.populate_icon_from_ohloh()
    mysite/customs/tests.py:    def test_populate_icon_from_ohloh_uses_none_on_no_match(self):
    mysite/customs/tests.py:        project.populate_icon_from_ohloh(

[2015-01-28 17:41] paulproteus commented on #1524
Hi @arindampradhan !

On one hand, it's usually good to let the migrations stay the way they are.

On the other hand, in this case, if we leave the migrations the way they are, they won't run -- `model_project.populate_icon_from_ohloh()` will raise `AttributeError`.

So in this case, you should change the migrations. Glad you asked!

[2015-01-29 07:18] vipul-sharma20 commented on #1479
can I take this issue if no one is working on this ? I would love to help

[2015-01-29 07:30] paulproteus commented on #1479
Hi @vipul-sharma20 , thanks for commenting!

Hi @akkikumar72 -- are you still interested in working on this?

If we don't hear from you within 4 days, then we'll assume you're happily busy with other things. It's fine either way.

Cheers,

Asheesh.

[2015-01-29 12:36] vipul-sharma20 commented on #1267
actual code of `not_authenticated` decorator:

    def not_authenticated(func):
        """ decorator that redirect user to next page if
        he is already logged."""
        def decorated(request, *args, **kwargs):
            if request.user.is_authenticated():
                next = request.GET.get("next", settings.LOGIN_REDIRECT_URL)
                return HttpResponseRedirect(next)

[2015-01-29 21:19] #1458 closed

[2015-01-30 07:08] paulproteus commented on #1267
Just to leave some discussion from IRC here, for posterity:

[code]

[code]

[2015-01-30 11:11] vipul-sharma20 commented on #1267
@paulproteus , what should `../openid/register/?next=people` redirect to?

`../people` or `../openid/register/people` ?

The current code try to do the latter one which is not among any of the URLs defined.

[2015-01-30 11:13] paulproteus commented on #1267
I think we should be smart about how we use `?next=` so it's:

`/openid/register?next=/people/`

instead. That is to say, I think by convention within the OpenHatch codebase, if we always use paths that start with a `/` character, it means that they always start at the root of the URL path. They wouldn't be dependent on the URL of `../openid/register/`.

Let me know if that's unclear. I'm not sure

[2015-01-30 19:45] ehashman commented on #1032
Hi @ankitjavalkar! I saw your ping on IRC this morning so I just wanted to quickly get back to you here.

I would start with `git grep`ping for all instances of `signals.pre_save` and `post_save` and checking how they are used. According to the docs linked above:

so it seems to me that at least one table will always be modified when these methods are called; the concern is whether or not it shoul

[2015-01-30 21:36] vipul-sharma20 commented on #1267
@paulproteus I've issued a PR. Please review it and let me know if anything is wrong

[2015-01-31 10:19] vipul-sharma20 commented on #1198
I am working on this, just wanted to ask:
* how should the "bugs per page" count increase ? in multiples of 10 or some other?
* what should be the max. limit ?

[2015-01-31 21:43] vipul-sharma20 commented on #1198
I have added a drop down list to select number of bugs per page to be displayed. It can now display: 10, 20, 30, 40 only. I think limiting it to max. 30-40 bugs per page is sufficient as if someone expands all the bug details, the page would become too long to scroll.  Please suggest me any improvements then I can send a PR.
![open](https://cloud.githubusercontent.com/assets/5447064/5989928/36ccdb

[2015-02-01 16:24] #1449 closed

[2015-02-01 18:07] vipul-sharma20 commented on #1198
@willingc I've sent a PR, please review it and suggest me any changes if required. Thanks.

[2015-02-01 20:42] ehashman opened #1533 "Nightly data snapshots broken as of Jan. 30"
See http://inside.openhatch.org/snapshots/ -- for whatever reason we have empty snapshots for the last three days. Someone should investigate.

[2015-02-01 20:53] willingc commented on #1533
I am going take a wild guess but it may be due to my merge of #1508. Will take a look.

[2015-02-01 21:08] ehashman opened #1534 "Data snapshots are too big"
This is something @paulproteus and I discussed a while back.

Our current data snapshots are on the order of 18MB when zipped. These are pretty huge and they're not super workable on a low-powered dev environment. As a result of the way the site is written, the first visit to /search/ on a development server can take over a minute to load. Indeed, I could not actually run the development site on m

[2015-02-01 21:16] willingc commented on #1533
If I try `python manage.py snapshot_public_data`, it seems to be writing to a file. Perhaps there's an interaction between this and #1534. Still writing - yawn.

[2015-02-01 21:44] willingc commented on #1533
@ehashman still writing... Definite yes to #1534.

[2015-02-01 21:47] ehashman commented on #1533
++, thanks @willingc for looking into this.

[2015-02-02 01:27] willingc commented on #1534
Random statistics on current size of snapshots.
File size (uncompressed): 108318300 Feb  1 14:53 active.json

I loaded the json snapshot into pandas and there are a lot of records (200K+). Here's the breakdown by model:
![screen shot 2015-02-01 at 17 05 28](https://cloud.githubusercontent.com/assets/2680980/5994821/6b74e7de-aa37-11e4-9ce0-8c136b9c558b.png)

[2015-02-02 01:37] willingc commented on #1533
Additional details on #1534. Running `python manage.py snapshot_public_data` does create a json file so that functionality does work. As an FYI, `mysite/customs/management/commands/snapshot_public_data.py` is the source of the json file creation.

I believe the cron job calls this script nightly `mysite/scripts/snapshot_then_push.sh`. Not sure why it is not working. File size? Change? ?? Please ju

[2015-02-02 10:09] vipul-sharma20 commented on #1240
can I work on this feature is it still required ?

[2015-02-02 13:42] paulproteus commented on #1534
One of the biggest difficulties, I think, is not so much the fact that there are a lot of records, but also that JSON is a very inefficient file format to parse etc.

I haven't benchmarked it yet though -- but my question is, what fraction of time in the `loaddata` step is spent parsing JSON? Or adding stuff to the DB? Also perhaps we can do bulk data loads.

In _fact_ maybe we can do the data loa

[2015-02-02 16:55] paulproteus commented on #1240
It would be great to have this.

Note that I think our existing authentication toolkit, django_authopenid, doesn't support github.

[2015-02-03 06:43] vipul-sharma20 commented on #1479
@paulproteus now can I take this issue ?

[2015-02-03 09:00] vipul-sharma20 opened #1536 "change "expand" to "collapse" when a bug is expanded"
When any search result is expanded by clicking on `expand` the text should change to `collapse`

![expand](https://cloud.githubusercontent.com/assets/5447064/6017154/07d64350-abb1-11e4-891a-0c42db0e5d87.png)

[2015-02-04 15:44] willingc commented on #1479
@vipul-sharma20 Thank you for adding this to OpenHatch's documentation. :penguin:

@akkikumar72 Thanks for the initial work on this issue. We welcome you to contribute as you are able on future OpenHatch issues. :penguin:

[2015-02-04 15:44] #1479 closed

[2015-02-05 05:51] vipul-sharma20 opened #1539 "Mission for command line shell"
I saw that there are missions for using git, svn, diff, patches etc. but there is no mission for how to deal with command line. May be a new contributor is not familiar with terminal commands, so this can help. We can have basic commands like cd, ls, mkdir, cp, rm etc. I would love to help in this. But I just need some reviews and confirmation whether I should proceed with it or not.

[2015-02-05 09:33] vipul-sharma20 commented on #560
@paulproteus, do you mean like an image upload progress bar ? this would be nice as, if I try to upload a large size image (something around 2MB), the page seems to be stuck but actually it is uploading so it would be a nice addition.

[2015-02-05 11:19] pdurbin commented on #861
There is now a separate issue for this: #1539

[2015-02-05 15:50] vipul-sharma20 commented on #1539
@pdurbin as per your advice I've started a new etherpad document https://etherpad.mozilla.org/Hd9i0lFtcH Please give your thoughts and advice on this issue, I would love take everyone's suggestions.

[2015-02-05 19:24] paulproteus commented on #560
Yeah! A progress bar is a great example of how it might work.

[2015-02-09 11:39] jpichon opened #1541 "Error 500 when clicking "Edit project settings""
When I click the "Edit project settings" link in the "About" area at http://openhatch.org/projects/OpenStack%20dashboard%20%28Horizon%29 , it leads to me to an error 500 page.

I would like to copy the project description directly into the project itself, so that it is not lost when I remove myself from the contributors list. Thank you!

[2015-02-09 14:41] infraredgirl commented on #1233
Hi OpenHatch devs,

I've just experienced the same problem while trying to email this user, using the email listed at that page: http://openhatch.org/people/Sumanth1991/

[2015-02-11 00:43] willingc commented on #1541
@jpichon Thanks for reporting this error.

@paulproteus @ehashman and other openhatch developers: Please chime in if you are able to help out with this issue. Thanks!

[2015-02-12 13:54] mfitzp commented on #1495
Is there anything I can do to help get this moving?

Looking at the [mysite.settings.py](https://github.com/openhatch/oh-mainline/blob/master/mysite/settings.py) you'll need to add the following to `local_settings.py` on the server (not in the repo so can't do a PR):

    MEDIA_URL = '//static.openhatch.org/static/'
    STATIC_URL = '//static.openhatch.org/statik/'

With that config in place stati

[2015-02-14 17:32] #1539 closed

[2015-02-15 22:40] ehashman commented on #1233
Reopening.

[2015-02-15 22:42] ehashman commented on #1534
You trailed off there.

/search/ *does* take forever to load. Related, is there any way to speed up the SQL queries?

[2015-02-15 22:43] ehashman commented on #1495
@paulproteus ^

[2015-02-18 03:05] thomasballinger commented on #1515
I'm seeing this too with bpython. From the logs it looks like this is happening a log:
[code]

[2015-02-18 03:46] thomasballinger commented on #1515
Based on the logs from yesterday, I submit that we are not making more than 5000 requests, we're simply making 60 of them completely unauthenticated. See https://gist.github.com/thomasballinger/4d063186febfe4190283, the two times that requests succeed exactly 60 of them are made, and then the rest are 403s.

[2015-02-18 03:49] willingc commented on #1515
@thomasballinger Thanks for the details. Is it possible/probable that GitHub has rate limited unauthenticated requests from us?

[2015-02-18 03:56] thomasballinger commented on #1515
I think so. I bet if we authenticated (either basic auth with a github account, or adding some query params for oauth) this would fix it.

[2015-02-18 04:24] willingc commented on #1515
After chatting on IRC with @thomasballinger and @ehashman, it may be possible to authenticate using scrapy middleware:
![screen shot 2015-02-17 at 20 23 49](https://cloud.githubusercontent.com/assets/2680980/6242412/0970bda2-b6e3-11e4-9389-b6277cd7e1cd.png)

[2015-02-18 06:04] thomasballinger commented on #1515
I've described possible solutions at https://github.com/openhatch/oh-bugimporters/issues/110 but am having trouble running the code locally so can't suggest a fix.

[2015-02-18 07:26] paulproteus commented on #1515
This is amazing research. Thanks all. I had no idea about the authorization
stuff. I will try to dig into this tomorrow or within the next few days.

[2015-02-27 15:26] impaktor commented on #1515
Awesome. I'm Looking forward to getting the bugs from my/our project (pioneer) into openhatch.

[2015-02-28 18:30] shriyanka commented on #1446
Hey everyone ! I think this issue is still open as it shows up there. Can I look into it?

[2015-02-28 19:19] paulproteus commented on #1446
@eeshangarg is it OK to let @shriyanka work on this? It seems like a great starter issue, so I'm happy to let @shriyanka work on it if that's OK with you.

[2015-03-01 04:57] eeshangarg commented on #1446
Hi @shriyanka! Welcome to OpenHatch! :-)

Hello @paulproteus!

I am sorry it took me so long to work on this. My high school finals are going on right now and my exam preparations take almost all of my time.

I would just like to mention that a major portion of this issue has already been implemented. I made a PR about this about 18 days ago. I forgot to make a comment about the PR here, sorry abo

[2015-03-01 05:26] eeshangarg commented on #1446
@paulproteus: One more thing, if you think that my PR regarding this <https://github.com/openhatch/oh-mainline/pull/1543> needs more work or if the this whole issue needs more work in general, I think then it would be awesome if @shriyanka can take it from there and move further with this issue. :-)

Regards,
Eeshan

[2015-03-01 08:42] shriyanka commented on #1446
@paulproteus Hello and thank you for considering me in for it. As suggested by @eeshangarg  if you find that this issue need further 'look into' thing then I would love to work on it as it would be my first step in open source world I am very excited to fix my first bug.
@eeshangarg Hello and Yes I would really love to take it and work on it if it requires further work.

Regards,
Shriyanka

[2015-03-02 18:12] acanubhav commented on #1121
i had the same problem

[2015-03-03 02:22] mattantaliss opened #1546 "Git - Cloning a Project: Command text not fully displayed"
In the "Cloning a Project" mission of the Git training, the first instruction appears as follows for me:

The last part, “git_missions”, is being cut off. I first noticed that something wasn’t quite right when I saw the next instruction, “cd git_missions”, and I later noticed that if I copy and paste the first instruction, the whole thing appears. Finally, I noticed that if I make sure I have my m

[2015-03-03 02:27] pdurbin commented on #1546
I see what you mean:

![openhatch_-_missions_using_git_cloning_-_2015-03-02_21 26 56](https://cloud.githubusercontent.com/assets/21006/6455522/e0c645da-c122-11e4-8488-b6c79d3ce625.png)

[2015-03-03 02:42] mattantaliss commented on #1546
Here's what it looks like for me (OS X Yosemite; Google Chrome):
![openhatch_oh-mainline_1546](https://cloud.githubusercontent.com/assets/7633746/6455637/ee3c626c-c113-11e4-97d8-04380a0afd16.png)

[2015-03-03 03:01] willingc commented on #1546
@mattantaliss Thanks for filing this issue :cookie:
As suggested by @pdurbin I am marking this bite sized.
Thanks!

[2015-03-04 00:02] angelusbr opened #1547 "Error 500 at subversion (mission 3)"
![captura de tela de 2015-03-03 20 59 41](https://cloud.githubusercontent.com/assets/11271294/6475400/8408f0e2-c1e8-11e4-93d0-1d267ab4c376.png)

I have submited the following text:

Index: README
===================================================================
--- README	(revisão 3)
+++ README	(cópia de trabalho)
@@ -1,5 +1,5 @@
 The secret word needed to infiltrate the compound is in word.txt.

[2015-03-04 15:11] angelusbr commented on #1547
the text is, with "=":

Index: README
===================================================================
--- README	(revisão 3)
+++ README	(cópia de trabalho)
@@ -1,5 +1,5 @@
 The secret word needed to infiltrate the compound is in word.txt. You
-also will need to be wearing a red hat.  Good luck on your mision!
+also will need to be wearing a red hat.  Good luck on your mission!

   -- Mr. Bad

[2015-03-05 09:12] shriyanka commented on #1338
Hi,
I have written description regarding the following issue #1338 and I want your feedback regarding the same. If its wrong please do correct me.
the link is : https://github.com/shriyanka/oh-mainline/blob/master/docs/tutorials/add_user_project.rst
Its my first time and I don't know whether its a good way to post the link here. If its not then ignore it this once.

Thanks,
Kajal Gupta

[2015-03-07 07:11] shriyanka opened #1550 ""Maintainer updates box" opens up and get stacked vertically after clicking (explain this) link"
While filling out the form for adding your project when you click on the "(explain this)" link of the "Receive maintainer update" checkbox the box opens up showing the info related to it. If you again click on the link a next box pops up and get stacked vertically below the first box and so on it continues the number of time you click on link.
You can reproduce the bug as:

1) login to your profil

[2015-03-08 09:48] onceuponatimeforever commented on #1519
`tracker_name` is present in several dozens of files and is referenced in so many parts of the stack. :confounded: I'll attempt to remove it and update my progress here. :racehorse: Challenge accepted.

[2015-03-08 15:35] thomasballinger commented on #1515
What would be most helpful for me to do to help get this resolved? Unfortunately it's significantly affecting the quality of the OpenHatch bug suggestions because half of all GitHub bug scrapings are failing, so many issues which appear open have been closed for a month.

The two tasks seem to be
* modifying the code to read environmental variables for GitHub auth and adding these to requests
* cr

[2015-03-08 19:27] SarahRK opened #1552 "Intro For Developers link is broken"
At the bottom of this page:
https://openhatch.org/

There's a link that says "Intro for developers":
http://openhatch.readthedocs.org/en/latest/README.html

Which shows an error message:
"You've found something that doesn't exist."

[2015-03-08 19:29] shriyanka commented on #1550
Hey :) I have fixed this issue. The issue was in the script of importer.html
You can view the fix here : https://github.com/shriyanka/oh-mainline/blob/master/mysite/profile/templates/profile/importer.html

[2015-03-08 19:39] SarahRK opened #1553 "Display issues (CSS?) On Bug/Volunteer Opportunity Tracker"
Some issues display fine, but others have overlapping words.

![screen shot 2015-03-08 at 2 15 31 pm](https://cloud.githubusercontent.com/assets/4283226/6547203/79aebe82-c59f-11e4-8830-dc3f2e55fcd1.png)

These occur frequently, but not exclusively, here:
https://openhatch.org/search/?q=&project=Python&language=Python

[2015-03-08 19:39] SarahRK opened #1554 "The 'Add Your Project' page is wonky (CSS?)"
The 'Want to Chat' Link is almost entirely hidden (I can see the 'W' but nothing else).

The whole lefthand column looks wonky (why are the 1st two in their own box?).
![screen shot 2015-03-08 at 2 24 22 pm](https://cloud.githubusercontent.com/assets/4283226/6547226/1b2dd9aa-c5a0-11e4-9a6d-257d391e3d4b.png)

[2015-03-08 20:29] willingc commented on #1338
@shriyanka submitted a pull request #1555 to address this issue and issue #1550. Thank you!

I have updated the issue status and will review the pull request and comment. Thanks :)

[2015-03-08 20:38] shriyanka commented on #1338
willingc@ thanks for viewing it :)

[2015-03-09 12:14] willingc commented on #1515
@thomasballinger Thank you for offering to help and for your continued, thoughtful patience. I agree that I would love to see the GitHub bug issues updated and working for our users.

@paulproteus Do you want to pair on Thursday evening to see if we can try to make progress on this while I am in SF?
cc/ @onceuponatimeforever @ehashman

[2015-03-10 18:14] willingc commented on #1552
@SarahRK Thanks for reporting this issue :)

For anyone that wishes to work on this, here is a suggested fix:
http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-03-09

[2015-03-11 05:23] anurag619 commented on #1552
I would like to fix this.

[2015-03-11 16:19] #1552 closed

[2015-03-11 16:21] willingc commented on #1552
@anurag619 Thanks for offering to fix. I didn't see that there was already an open PR to fix the issue. I've merged the fix.

[2015-03-12 17:05] chums923 opened #1556 "Submit button overlaps text field in first Git mission"
The submit button in the first mission over is covering part of the text field it related to. Most likely an easy CSS fix. Not sure if it's an issue with the other missions as well. Will update if I find similar errors.

![ohbug](https://cloud.githubusercontent.com/assets/2695564/6623220/fdfe8d3c-c8b7-11e4-8433-931c296462f4.png)

I am using firefox 36.0.1 on Ubuntu 14.04. This wasn't an issue when

[2015-03-12 19:47] chums923 commented on #1553
I'm getting the same error with Chrome 40.0. What browser and version are you using?

[2015-03-12 20:06] chums923 commented on #1553
In fact, this looks like it's happening on any page where the language being queried is longer than a couple characters. Does anyone know what the purpose of having (and in Python) even is? I mean, obviously we're on the Python page, why even display that?

[2015-03-12 21:05] SarahRK commented on #1553
No idea.

But not all Python listings contain that phrase, e.g.:
https://openhatch.org/search/?q=&project=Pitivi&language=Python

The issue isn't always present in listings that say "(and in Python)". e.g. it works here:
https://openhatch.org/search/?q=&project=GNU+Mediagoblin&language=Python
(because there is an extra line)

But not here:
https://openhatch.org/search/?q=&project=Django&language=P

[2015-03-12 21:16] chums923 commented on #1553
Right, so looks like the difference in those cases is that in your second link, the
`span class="project__name"`has a large enough height to push down the `div class="helpers"` down below the `div class="opp_data"`. That's not happening in the third link, I guess because the string just isn't long enough.

We should probably do something where we force the `helpers` div to wrap around so it doesn'

[2015-03-13 20:28] moijes12 commented on #1547
![screenshot](https://cloud.githubusercontent.com/assets/4566851/6646683/c60591be-c984-11e4-91bf-2d4362f69733.jpg)

Works just fine for me

[2015-03-13 20:58] moijes12 commented on #1506
I'd vote for an upstream fix given that I'd fixed this with https://github.com/openhatch/oh-mainline/pull/1429

[2015-03-14 19:54] sparrowunderscore commented on #353
It looks like http://www.unmaintained-free-software.org/ has ceased to meaningfully exist. :(

[2015-03-15 08:22] moijes12 commented on #1392
I have proposed a fix. Please somebody add the label stat:need-review because I unable to do that.

[2015-03-15 15:31] jancborchardt opened #1559 "Introduce »design« label to filter by"
Currently it’s mainly possible to sort issues by programming language or documentation (http://openhatch.org/search/?q=&contribution_type=documentation )

To get more designers involved into open source, it would be great if we have a design filter as well. For example, here are all the bite-size (we call it »Junior Job«) design issues of ownCloud:
https://github.com/owncloud/core/issues?q=is%3Aop

[2015-03-15 16:41] pdurbin opened #1560 "Add CONTRIBUTING.md"
As discussed at http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-03-15#i_3596011

16:08 shauna   Also, we have a lot of labels (https://github.com/openhatch/oh-mainline/labels) but none of them seem to be "accepted" or "needs help"
16:08 pdurbin  shauna: is there a guide to the labels used by openhatch?
16:08 shauna   No.  There should be, shouldn't there?
16:09 shauna   I wish github

[2015-03-15 17:14] willingc commented on #1392
@moijes12 Thanks for the fix and I have updated the label status.

[2015-03-16 04:24] chums923 commented on #1553
Anyone else have any input? I think I'm not totally understanding why we have the (and in Python) thing on the end. If that's super important we can wrap the text and have in just make a new line. If it's not, we can either hide the overflow or we can just get rid of it altogether.

I'd like to make a PR pretty soon with a bunch of these little CSS changes so I'd appreciate any input

[2015-03-17 04:41] SarahRK commented on #1553
Sorry for not responding sooner.

I don't know any CSS, so I'm not very useful for reviewing, but your solution sounds fine to me.

Regarding the (and in Python) thing, have you pinged the OpenHatch IRC channel? Someone there might know. If you want, I can do it.

Thank you for being awesome. Sorry I can't be of more help.

[2015-03-17 16:43] GuidoS commented on #1546
I have started to look at this and am not sure it this is something that should be globally changed to the code style or locally set? Also, on a mac using yosemite and chrome the slider shows up over the text and I wonder if we should make the height bigger, like 1.5em or so.

(I am a total newb so please excuse anything that seems a bit off here.)

[2015-03-18 01:06] prologic commented on #1515
/cc @prologic

[2015-03-18 10:39] GuidoS commented on #1546
New thought, perhaps the change should be done in "mysite/static/css/jquery.autocomplete.css"

Turn off hidden and add a little more padding to the bottom?

[code]

[2015-03-18 16:56] VladiHz opened #1561 "git cloning returns error 403"
When trying to clone the repository for the git missions i get the following:
`> git clone https://openhatch.org/git-mission-data/git/VladiHz git_missions
Cloning into 'git_missions'...
fatal: unable to access 'https://openhatch.org/git-mission-data/git/VladiHz/': The requested URL returned error: 403`

[2015-03-19 20:58] or4n opened #1562 "TAR mission file upload (EOF read where object expected)"
Can't upload ghello.c on TAR mission. Getting "Warning! EOF read where object expected" message on website after choosing file to upload.
So far I've tried this with Chrome 40.02214.115, Firefox 22.0, Firefox 36.0.1 and Safari 8.0.4 on Mac OS X and Chrome 41.0.2272.89 on Gentoo Linux. Same issue each time.

At first I thought my browser was the problem so I tried few. Then I thought my download wa

[2015-03-19 21:04] or4n commented on #1562
I just completed first part of the diff and patch mission and uploads work for me there.

[2015-03-19 23:30] or4n commented on #1562
Did some more testing and snooping around. Looks like issue isn't actually in oh-mainline -project but instead in https://missions-beta.openhatch.org which is where files gets posted.

I get same error if I try to upload files directly on that Oppia installation.

This is error from JS console in browser
[code]

[2015-03-21 19:39] TamaraYWashington opened #1563 "Clarity could be more user friendly on CONTACT US"
Chat with us on IRC
![screen shot 2015-03-21 at 3 35 51 pm](https://cloud.githubusercontent.com/assets/11082473/6766541/6ed8be90-cfe0-11e4-855e-bf93fb302684.png)

[2015-03-21 19:41] willingc commented on #1563
@TamaraYWashington Thank you for submitting this issue. OpenHatch wants to give our users a great documentation experience. Thanks for helping the next person :)

[2015-03-21 19:50] #1563 closed

[2015-03-21 20:04] TamaraYWashington opened #1565 "Making names of files and links more visible"
Making the names of files and links more visible in the paragraph.

Right now, it's getting "lost" in the paragraph.

[2015-03-22 02:30] willingc commented on #1565
@TamaraYWashington Thanks for submitting this issue about making documentation more newcomer friendly. Nicely done at Write/Speak/Code today.

[2015-03-22 02:33] #1565 closed

[2015-03-23 03:39] GuidoS commented on #1546
I think this should be helpful for this issue. I cannot seem to figure it out, but perhaps  CSS Pseudo Elements combined with <code> tag?

http://webdesign.tutsplus.com/articles/quick-tip-styling-scrollbars-to-match-your-ui-design--webdesign-9430

[2015-03-23 19:21] elifarley opened #1567 "Merde: there was an error saving your ordering"
I'm unable to sort my projects. When I click **Save this ordering**, I get an alert with this message:

[2015-03-25 00:16] thequbit commented on #1524
I believe #1530 closes this, correct @paulproteus,  @arindampradhan?  Can it be closed?

[2015-03-25 04:20] arindampradhan commented on #1524
yaa sure :) @thequbit

[2015-03-25 21:04] VladiHz commented on #1561
Worked fine now

[2015-03-25 21:04] #1561 closed

[2015-03-27 17:50] willingc commented on #1204
Long overdue but I was able to get the tests running on my Ubuntu system using MySQL.
Some of the existing tests are failing and a number have errors. I did need to make modifications to one of the migrations and to the settings file to get the tests to run. I plan on doing a diff later and a PR up to this point before I start trying to resolve the failing tests.

![mysql_tests](https://cloud.gith

[2015-03-27 18:30] willingc commented on #1204
Notes on setting up the MySQL configuration on local system (for docs later)

Install mysql-client and mysql-server on Ubuntu.
After setting up local mysql config for your  set up for oh-mainline.
At command prompt, enter `mysql`
At mysql prompt, enter `USE oh_milestone_a`
*This is case sensitive*

At mysql prompt, enter:
[code]

[2015-03-28 15:43] eyala commented on #1435
I have the same problem as @mfitzp - [my project](http://openhatch.org/projects/Pig-Eclipse) is on [GitHub](https://github.com/eyala/pig-eclipse), and when I try to add it, I get a message that it's already been added, but I don't see the issue tracker there.

[2015-03-29 21:41] willingc opened #1570 "Discontinue testing for Python 2.6 in Travis"
I would suggest discontinue testing for Python 2.6 in Travis.

I would recommend adding initial support for Python 3 when able.

[2015-03-30 23:29] #1524 closed

[2015-03-30 23:31] willingc commented on #1567
@elifarley Thanks for reporting this issue. If you can provide a bit more detail that would be helpful. Thanks!

[2015-03-30 23:34] willingc commented on #1562
@or4n Thanks for reporting this issue and for doing some additional investigative work on the issue. Very helpful. Thanks :penguin:

[2015-03-30 23:48] willingc commented on #1559
@jancborchardt I think that this is an excellent suggestion. I've added a label to the OpenHatch GitHub issues for Design.

As for the suggestion to sort on Design, it would be great to have the issue tracker do that too. This seems like a good item to add to the list of issues for a Sprint (PyCon?).

[2015-03-30 23:55] willingc commented on #1547
@angelusbr Thanks for submitting this issue. As a developer, I really appreciate the extra time that you spent adding screenshots since they are very helpful.

This is a known issue that we are working on resolving. Thank you for providing additional information. :penguin: :cake:

Close issue as duplicate of #1399

[2015-03-30 23:55] #1547 closed

[2015-04-01 19:56] darelb opened #1575 "Get to know the shell mission broken link"
On the [Missions](http://openhatch.org/missions/) page, the `Get to know about: "The Shell"` link is broken. The following address is the target of the link but no page is found at the address.

http://openhatch.org/missions/shell/about

[2015-04-02 16:01] willingc commented on #1575
@darelb Thank you for reporting this issue. I'm sorry that the link is not redirecting properly. Please do ask on IRC if you have any questions about the shell before this issue is resolved. Thanks!

OpenHatch developers: It looks like there is an issue with #1542 with the Shell 'Go' link directing to a missions/shell/about which is a 404. I did a quick scan of the source code and I'm wondering if

[2015-04-02 17:32] eeshangarg commented on #1575
Hi @willingc, @darelb!

I also took a look at this and found out that not only does the Shell mission lead to a 404 but the pipvirtualenv mission also leads to a 404. I updated my local oh-mainline repo and they seem to be working fine when I visit the missions on the development server on my computer. @darelb: Thanks a lot for reporting this!

@willingc: Hello, ma'am! The main page for the pipvir

[2015-04-02 18:10] vipul-sharma20 commented on #1575
Hi @willingc @eeshangarg

@eeshangarg yes, you are right. Both the missions lead to 404 when clicked on "Go". I looked in the code to see what is causing this but I am also confused. Still, I will go through the code again and see what is wrong :)

[2015-04-02 18:46] willingc commented on #1575
@eeshangarg @vipul-sharma20 Well they are both new missions so I'm going to guess that the root cause is with the url handling. I would recommend going back and looking at an earlier PR for one of the other oppia missions and see if there is something different about 'urls.py' or 'missions.base' files or views vs the new missions.

[2015-04-07 13:36] #1570 closed

[2015-04-07 21:48] chums923 opened #1576 "500 Errors on everything due to DEBUG=False in settings.py"
I'm just making this issue because the docs say to link any PR with an issue. Not sure if it's actually necessary, though.

I've already made the fix and will be submitting a PR shortly.

[2015-04-07 23:24] paulproteus commented on #1576
Hi @chums923 ! Thanks for submitting this, and I saw a bit of the IRC chatter too.

I think it'll be great to make this change; I do think we should make sure that `deployment_settings.py` (which is what is used on the live site) uses `DEBUG=False`, per Django's security recommendations.

Have you verified that `deployment_settings.py` sets `DEBUG=False`, and that the app basically works in that c

[2015-04-07 23:33] chums923 commented on #1576
Hi @paulproteus! Thanks for commenting. Yes, so  `deployment_settings.py` still does set `DEBUG=False`.

As for whether that app works, do you mean can I run it locally? The answer to that is yes, and I can't if `DEBUG=False` in `settings.py`. If you're talking about something else, then I'm afraid I have no idea.

[2015-04-08 02:17] willingc commented on #1576
@chums923 There are two files: `settings.py` and `deployment_settings.py`.

When you are running Django on your local system, Django uses `settings.py` and for development `DEBUG=True`.

When we deploy OpenHatch to a live server, the `deployment_settings.py` file is used. For security reasons, we set `DEBUG=False` for the live server deployment.

Thanks for submitting the issue. It's helpful to cr

[2015-04-08 02:21] #1576 closed

[2015-04-08 13:26] shaunagm commented on #1576
Thanks so much, @chums923!  I've deployed the change to the live site.  :)

[2015-04-09 04:40] onceuponatimeforever commented on #1556
I can't replicate this on either a firefox, safari, or chrome browser. :confused:

[2015-04-09 05:06] onceuponatimeforever commented on #451
I'll work on this during the pycon 2015 week to streamline the signup/login nav bar.

[2015-04-09 16:36] chums923 opened #1579 "500 Page Errors on live site due to login"
### Issue

I've been getting this `500` error on the live site recently. This is a screenshot from when I just accessed the site (using Mac OS 10.7.5 and Google Chrome browser).

![screen shot 2015-04-09 at 12 30 49 pm](https://cloud.githubusercontent.com/assets/2695564/7071562/16d1306e-deb4-11e4-96bf-5fde17be38f0.png)

As you can see, I did it in two tabs just as a sanity check. Same result.

###

[2015-04-09 16:42] chums923 commented on #1556
Hm, bummer. You sure you're on the right mission? Maybe it's the OS then? Either way, looks like someone submitted a PR fixing this issue a few days ago

[2015-04-09 17:40] shaunagm commented on #1579
Yeah, I've been getting it too.  I was hoping the fix for the 500 errors you were getting would solve this problem, but it doesn't seem to have.  @paulproteus

[2015-04-09 17:42] shaunagm commented on #1579
I'm pretty sure your recent PR fixes this.  Can you clear your cache, or open in a new/private browser?  I'm still getting 500 errors too when I open in Mozilla non-privately (how I usually browe) but get a live site in Chrome and when I open a private window.

[2015-04-09 17:47] shaunagm commented on #1579
I just tried logging into the site on Chrome and the error page appears.  So I think it's actually related to being logged in.  @paulproteus, thoughts?

[2015-04-09 17:47] shaunagm commented on #1556
I can reproduce, also Ubuntu 14.04, Firefox 36.0.4.  It's fine on Chrome for me.
![overlap](https://cloud.githubusercontent.com/assets/1179362/7073050/ba6f61a0-debe-11e4-81db-22dc61a42a96.png)

[2015-04-11 14:38] moijes12 commented on #1560
@pdurbin @willingc I'd like to work on this. Can I get some pointers on how to start ?

[2015-04-11 14:44] moijes12 commented on #1437
@willingc I think we should remove the label stat:unread and add label stat:needs-review. Wdyt ?

[2015-04-11 14:45] moijes12 commented on #1422
@willingc I'd like to work on this.

[2015-04-11 19:50] ehashman commented on #1446
Hi all! I just did a quick accessibility check of the site (you can do so yourself by visiting [this link](http://achecker.ca/checker/index.php) and typing in 'openhatch.org') and I found a few images that are still missing alt text. They're probably located in some templates that weren't touched by #1543. I'd recommend adding that and then I will mark this issue as closed.

[2015-04-11 19:53] ehashman commented on #1121
Hi @acanubhav, I'm not able to reproduce this. Can you please provide more details, i.e. a screenshot and the steps you took when encountering this bug? I'll keep this closed until I hear back from you with more info.

[2015-04-11 20:01] ehashman commented on #1554
This is a duplicate of #1337. Closing and I'll move these tags there.

[2015-04-11 20:01] #1554 closed

[2015-04-11 20:06] ehashman commented on #353
@paulproteus and I think this is probably out of scope for OpenHatch right now, so I've closed the issue and marked it as a wish. If someone is specifically interested in taking this on, that could be cool, though.

[2015-04-11 20:06] #353 closed

[2015-04-11 20:14] ehashman commented on #1553
Hi there @SarahRK, I took a look and I believe this is desired behaviour. When you expand bugs, the text wraps around properly:

![expanded](https://cloud.githubusercontent.com/assets/4706131/7103109/b29aa4fa-e065-11e4-828c-f0aa1cbdad55.png)

However, when bugs are collapsed, I believe they are all intended to be the same height so a word wrap wouldn't really work. May I ask what behaviour you exp

[2015-04-11 20:15] ehashman commented on #1515
Update: @paulproteus and I have talked about looking at this at the sprints. It is back on my radar now :)

[2015-04-11 20:41] ehashman commented on #1567
I've discovered the [source of this alert](https://github.com/openhatch/oh-mainline/blob/master/mysite/static/js/importer.js#L1036). The bug likely is in that file.

[2015-04-11 20:43] ehashman commented on #1559
As the label has been added, I'm going to mark this as closed.

[2015-04-11 20:46] ehashman commented on #1570
SUCH +1 @.@

[2015-04-11 20:51] ehashman commented on #1579
Yeah, this is weird. I logged in to the site for the missions to help someone today on IRC without any issue, but when I log in and only go to openhatch.org, I get this error (and interestingly, you'll note the top bar does not indicate that you are logged in). When I navigate to any other part of the site, I see that I'm logged in and it loads with no issues.

This is something that needs to be f

[2015-04-11 20:54] chums923 commented on #1579
Great, I'll be interested to know how this turns out. Also, just so you know I had exactly the same experience. I can navigate anywhere on the site except for the home page. When I logged out, though, I could navigate to the home page just fine.

[2015-04-11 20:56] ehashman commented on #1560
Hi @moijes12, I recommend you take a look at the last link in the IRC conversation ([this one](https://github.com/IQSS/dataverse/blob/master/CONTRIBUTING.md#issue-labels)). That is the kind of document this issue would like to see created!

All you need to do is create a Markdown file called CONTRIBUTING.md in the root of the repository with our contribution guidelines. I think [this page](http://

[2015-04-11 21:00] ehashman commented on #1422
@willingc: first, I *really* like this issue! Yay! I don't know that we have any hourly or daily tests, though we could set up a cron job with notifications.

[2015-04-12 02:34] shaunagm commented on #1559
To clarify, the request is to add a design label to /search, not to this issue tracker.  If I've missed this being implemented, can you link to the relevant PR?

[2015-04-12 10:30] moijes12 commented on #1560
We do have a list of things to do before submitting code and that is maintained [Here](https://openhatch.readthedocs.org/en/latest/getting_started/handling_contributions.html)

However, if we are to add information on issue labels and documentation, I think we could do by using a content structure similar or even identical to that seen at [dataverseorg's Conrtibuting.md](https://github.com/IQSS/da

[2015-04-13 04:07] sunilkumarc commented on #1546
Hi experts,

I wanted to work on this bug. But this bug seems to be fixed. This is how it appears to me now.
![open_hatch_bug](https://cloud.githubusercontent.com/assets/3911000/7109699/8b46f8d0-e192-11e4-9d20-9365f78b9c41.jpg)

Can somebody confirm if this bug is closed or am i looking at a wrong page ?

[2015-04-13 04:27] shaunagm commented on #1546
@sunilkumarc The bug may only appear for certain combinations of browser and OSX.  @pdurbin, @mattantaliss - can you confirm that the issue is still appearing for you?

[2015-04-13 06:56] sunilkumarc commented on #1385
Hi experts,

I'm working on this feature. So i wanted to include some styles for a div element in that particular page. So I wanted to know, if i'm allowed to use inline style or should i write the style properties in the main /static/packed/openhatch.css file ? Or is there any other stylesheet file I should use ?

Thanks,
Sunil

[2015-04-13 07:40] paulproteus commented on #1385
Once you run the app locally, you should see that the page includes a lot
of *.less and *.css files. You should edit those.

Hope this helps; let me know if so or if not!

[2015-04-13 14:10] moijes12 commented on #1579
I am facing this too.
OS: Ubuntu 14.04 LTS on a Virtual box VM
Browser: Firefox 36.0.4

[2015-04-13 14:34] shaunagm commented on #1472
Bumping this back up for the sprints.  I'd love to see some reflection on what kind of help text and what kind of arrangement would make this page more manageable.  My own suggestions:

* Put a small paragraph of help text at the very top of the page, including links to advice for finding and evaluating projects and issues.
* Make the search box itself smaller (we can have fewer options listed, si

[2015-04-13 14:39] paulproteus opened #1580 "Remark on the purpose of "vendor" in the docs"
@shaunagm remarked to me that the `vendor` directory can be confusing to people using github code search online.

[2015-04-13 14:41] shaunagm commented on #1580
So I think we can leave a remark there that the inclusion of the vendor directory makes it difficult to search the web, and that you probably want to go to /mysite directory on the command line and type "git grep $search_term" instead.  That said, we should probably have that information more prominently.  Maybe an "unstick yourself" section of the "getting started guide" could include tips and hi

[2015-04-13 15:45] jlachewitz opened #1581 "User is able to input invalid text into the donation amount box"
User is able to input invalid text into the donation amount box (empty string, letters, punctuation, etc).  This results in PayPal being very distraught and giving the user some confused error messages.  Maybe verify donation text is a valid number before redirecting user to PayPal?

![screen shot 2015-04-13 at 11 44 34 am](https://cloud.githubusercontent.com/assets/11926859/7119274/876e4200-e1d2-

[2015-04-13 15:48] moijes12 commented on #1560
# Contributing to OpenHatch

Yay! Its great that you want to contribute to the OpenHatch.org website. We look forward to receiving your contributions in code, feature requests and bug reports. Here are pointers and guidelines that we feel you should follow before creating your pull request, bug report or feature request.

## Code Contributors Guide
OpenHatch.org has created good documentation for

[2015-04-13 15:50] ehashman commented on #1385
Hi @sunilkumarc, changes should probably be made to [this template](https://github.com/openhatch/oh-mainline/blob/master/mysite/bugsets/templates/edit_index.html). I think adding a "View Live Bugset" button as specified by @paulproteus would be the easiest fix.

[2015-04-13 15:51] donnemartin opened #1582 "Add Project Allows for Blank Project Name"
When I go to the following URL and add a project:
https://openhatch.org/+portfolio/editor/

I am able to create an empty project with no project name, no entry for "Describe this project:", and no entry for "Describe your involvement:".

The empty project name is problematic because it seems the project URL is based on the project name when you view the listing of projects on:

https://openhatch.o

[2015-04-13 15:53] paulproteus commented on #1515
We're looking into this at sprints, too. Thanks!

[2015-04-13 16:00] ehashman commented on #1560
One thing I would mention is that we probably shouldn't duplicate information that's in the docs in this file. I think it is better to add a link to the contributor guide in readthedocs than it is to have to maintain the information in two places :)

[2015-04-13 16:04] shaunagm commented on #1560
I mostly agree with you, Elana, but I think it's useful to pull out & highlight information specifically related to reporting and responding to issues here.  There's also some useful information that's not in the docs, for instance what the different labels mean.

ps @ehashman We miss you at sprints but please go enjoy AdaCamp!

[2015-04-13 16:05] jlachewitz commented on #1510
Unable to reproduce this bug on Firefox Version 36.0.4 and Chrome Version 41.0.2272.118 (64-bit).  Seems like this may have been fixed by a prior change.

[2015-04-13 16:06] su7edja commented on #1575
Resolved.

[2015-04-13 16:06] #1575 closed

[2015-04-13 16:27] jlachewitz commented on #1582
It's also possible to log two projects with the same name which prevents the user from navigating to whichever project was logged first.

[2015-04-13 16:31] #1510 closed

[2015-04-13 17:09] ableman commented on #345
Can confirm that this is still a problem. Simple suggested solution: have the OpenID be the default selection when the page opens, that way the URL bar will show up immediately.

[2015-04-13 17:18] shaunagm commented on #1559
Working on this now.  Below is in progress documentation re: how to add a new facet to the search box.

## Intro

OpenHatch provides an [index]( http://openhatch.org/search/) of tends of thousands of issues from 900+ open source projects. Users can narrow down their search by selecting one or more _facets_.  Right now, there are four kinds of facets: language, project, toughness, and "just bugs la

[2015-04-13 17:59] paulproteus commented on #1267
Hi all,

Per my comments on #1529 and the new doc that @phildini added, I'm going to close this as out of scope for the project.

Thanks to all who looked into it; I really appreciate it and appreciate working with you all on the project.

[2015-04-13 17:59] #1267 closed

[2015-04-13 20:27] mattantaliss commented on #1546
This issue does still exist on the OS X Yosemite/Chrome combination. I also checked a few others and can say this also exists with Yosemite/Safari and Yosemite/Firefox. This same issue also occurs on iOS 8 with both Chrome and Safari, but that probably doesn't matter as much since I don't think much development happens on iPads themselves.

On Windows 7, both Chrome and Firefox show the slider, so

[2015-04-13 21:04] su7edja commented on #819
Pull request for this issue https://github.com/openhatch/oh-mainline/pull/1587

[2015-04-13 22:17] paulproteus commented on #819
Marking as resolved. Huge thanks to @su7edja .

[2015-04-13 22:17] #819 closed

[2015-04-13 22:25] paulproteus commented on #1553
I just merged a pull request that relates to this, but I share @ehashman 's feeling that it's nice to have the bug objects be collapsed by default, and require a click to expand -- that's the concept behind the current design.

To my mind, the overlapping words problem should be fixed by, when the "and in Python" text would overflow, it would become, "and in Py...".

To answer the question of why

[2015-04-13 22:27] jwm opened #1590 "Move primary deployment from Linode to Heroku"
We should move our primary deployment from Linode to Heroku. We noticed recently that uWSGI hadn't picked up any changes for a few weeks, and Asheesh said he's to the point where he'd rather sacrifice a little cash for having someone handle running the deployed code.

[2015-04-13 22:28] jwm opened #1591 "Prune django_session and sessionprofile_sessionprofile tables"
It seems the `django_session` and `sessionprofile_sessionprofile` tables aren't pruned, since both have ~8M rows.

[2015-04-13 22:29] jwm commented on #992
This will happen as part of https://github.com/openhatch/oh-mainline/issues/1590

[2015-04-13 22:50] ableman opened #1592 "No Any option for "Just bugs labeled...""
![image](https://cloud.githubusercontent.com/assets/4017467/7127191/5b96f0e6-e1f5-11e4-80c2-0ab792d24e0d.png)

All the other columns have an any option, the "Just bugs labeled..." doesn't, which makes it impossible to broaden your search if you click "documentation".

More generally, I think a better flow would be to be able to "unclick" rather than have an "Any" option appear, but that's probably

[2015-04-13 23:11] shaunagm commented on #1560
An updated set of issue labels, thanks to malidzos:

## Issue Labels

The issue tracker for oh-mainline (the github repository which maintains the code) primarily makes use of the below labels:

css: An issue related to a css file (the looks and description of a document)
documentation: Improving or creating the needed documentation.
missions: Issues related to training missions section on the ope

[2015-04-14 11:14] willingc commented on #1590
@jwm Sounds like a good idea to me.

[2015-04-14 11:17] willingc commented on #1582
@jlachewitz Good point. Would you mind opening a second issue for the duplicate project names and mention this issue number in the additional issue. Thanks :sunglasses:

[2015-04-14 11:18] willingc commented on #1582
@donnemartin Thank you for a well written and detailed bug report. :sunny:

[2015-04-14 11:26] willingc commented on #1580
@shaunagm and @paulproteus: Good suggestion to add to the docs to grep on the terms from the command line.

GitHub Search does provide options for customizing the search. Search syntax gives much flexibility https://help.github.com/categories/search/ So it's probably worth mentioning as well.

[2015-04-14 15:48] paulproteus commented on #1581
Thanks to @jlachewitz for filing this! And thanks to @NPrescott for fixing it.

[2015-04-14 15:48] #1581 closed

[2015-04-14 15:59] paulproteus commented on #1541
FWIW Mike at sprints is working on this!

[2015-04-14 19:01] willingc commented on #1437
Closed by PR #1586

Thanks @onceuponatimeforever

[2015-04-14 19:19] #1592 closed

[2015-04-14 19:30] ableman opened #1594 "Rethink the way the any option appears"
![image](https://cloud.githubusercontent.com/assets/4017467/7145392/dcbf7cdc-e2a0-11e4-9879-8d04787f5c8c.png)

It's not immediately obvious how to clear a filter, and the existence of "any" in the dropdown may be confusing. I think the best alternative is to be able to "unclick" a filter option and remove the "any" option altogether.

[2015-04-14 19:34] phildini commented on #1534
What is in the snapshots? Is it a full set of all data from forever, or just a slice? It seems like trimming the time-period slice might alleviate some problems in the short term.

In the long term, I really like @paulproteus' idea of being able to fetch an external sqlite db, and running the server with that. Perhaps even adding the `wget` to the getting started doc would be a good step.

Forgive

[2015-04-14 19:36] onceuponatimeforever commented on #1534
Extra helpful background info
=====================
from https://openhatch.org/wiki/Importing_a_data_snapshot, the code is — https://github.com/openhatch/oh-mainline/blob/master/mysite/customs/management/commands/snapshot_public_data.py

[2015-04-14 19:45] ableman opened #1595 "Bitesize "What's this?" doesn't appear intuitively on search page"
![image](https://cloud.githubusercontent.com/assets/4017467/7145854/f80db8e8-e2a3-11e4-91ce-c2b005ebd2c2.png)

Appears all the way in the top right corner instead of where clicked. Also, cannot be reopened after being closed once

[2015-04-14 19:49] willingc commented on #1595
@ableman I agree that the placement of the definition is not ideal. More problematic for me, the "What's this?" link is only usable one time.

[2015-04-14 20:07] SarahRK commented on #1553
Hi Asheesh,

Are you saying we should occasionally see things like:

Mentors: 254 (and 314 in Python)?

Because I was only seeing "(and in Python)", with no number filled in.
Either way, its current design is confusing.

On Mon, Apr 13, 2015 at 3:25 PM, Asheesh Laroia <notifications@github.com>
wrote:

[2015-04-14 22:02] ableman opened #1597 "Widgetize yourself links to wrong location"
![image](https://cloud.githubusercontent.com/assets/4017467/7148339/f472f7f8-e2b6-11e4-9cdd-05e56af52561.png)

It says localhost, I don't think it's supposed to. I can't get the widget working, but that might just be me.

[2015-04-15 07:27] NPrescott opened #1599 "Footer floating over text in live environment"
A recent change has broken the footer so that it now floats over the text of the page. A quick looks indicates it's on every page. On Firefox 37.0.1 and Chrome 41.0.2272.118 - OSX 10.9.5 I see the following:

![footer-bug](https://cloud.githubusercontent.com/assets/4661088/7153790/6bfc47e6-e31d-11e4-9fc3-9fa5232f56e2.png)

Curiously, I can't entirely recreate this bug locally. Although I can see a

[2015-04-15 07:41] mestaritonttu commented on #1599
Unable to reproduce with Firefox 37.0.1 on Win 7. Footer is centered and where it should be when I visit http://openhatch.org/missions/git

[2015-04-15 09:07] NPrescott commented on #1599
As far as I can tell, the issue is caused by:

    #footer-wrapper {
        ....
        position:  absolute;
    }

Along with the removal of a closing `</div>` tag. I don't know CSS well enough to recommend a complete fix, the following patch results in some oddities (but is arguably more usable in spite of them):

[code]

The People page still has issues even with the above changes (I haven't

[2015-04-15 10:04] NPrescott commented on #1546
To my knowledge this is a system level [setting for OSX](http://osxdaily.com/2011/08/03/show-scroll-bars-mac-os-x-lion/) scrollbars are hidden to provide a sleeker UI (or so I gather). It looks like it's possible to circumvent it with CSS for webkit browsers using the `::-webkit-scrollbar` selector - [as seen here](http://simurai.com/blog/2011/07/26/webkit-scrollbar/). Firefox does not seem to hav

[2015-04-15 13:34] ehashman commented on #1437
I'm concerned this fix has broken the footer in a couple contexts:

![footer](https://cloud.githubusercontent.com/assets/4706131/7159762/74df2e2a-e352-11e4-8e6b-8568f3d3d952.png)

![submit-button](https://cloud.githubusercontent.com/assets/4706131/7159766/7cdfed08-e352-11e4-8c0c-d304df91075b.png)

[2015-04-15 13:40] shaunagm opened #1600 "Switch to free hosted testing service"
I'm specifically thinking of [Sauce Labs](https://saucelabs.com/features), which provides free accounts for FOSS projects.  One of their features is:

"Flip through screenshots taken after each page-altering command to diagnose errors and verify layout. Or, watch a video recording of the whole test from start to finish."

This seems like it would be pretty useful for us, since we've got a lot of C

[2015-04-15 13:42] ehashman commented on #1581
+1

[2015-04-15 13:47] ehashman commented on #1592
One thing I've noticed is that the "any" option only seems to show up when one has clicked on "bitesize" or "documentation", which is not what I'd expect for UX, but that's alright. I've confirmed this fix is working! Just want to note that behaviour for the record.

Thanks for catching that the "any" option wasn't showing up in this column due to a typo!

[2015-04-15 13:50] shaunagm commented on #1592
I don't love the way the any option works generally, see this issue: https://github.com/openhatch/oh-mainline/issues/1594

[2015-04-15 14:15] ehashman commented on #1594
+1

[2015-04-15 14:18] ehashman commented on #1600
Apparently we can integrate them with Travis CI: https://docs.saucelabs.com/ci-integrations/travis-ci/

[2015-04-15 14:24] ehashman commented on #1560
I updated "needs-decision" in your comment above because it was easiest to change it inline :)

+1

[2015-04-15 14:29] ehashman commented on #1246
I'm going to remove the urgent tag, as we're now on 1.5.8 and I think we're fine for now as far as security issues go :)

[2015-04-15 14:41] ehashman commented on #1599
I also noted this [on #1437](https://github.com/openhatch/oh-mainline/issues/1437#issuecomment-93401230); I'm worried that the fix in #1586 caused this. I'm going to try a local revert and see if that fixes things.

[2015-04-15 14:44] ehashman commented on #1597
Hi @ableman, are you testing this on your local deployment? When I tested this on openhatch.org, I got the following widget code:

[code]

as expected, and

[code]

on my local instance.

[2015-04-15 14:46] ehashman commented on #1546
+1 @NPrescott! Thanks for doing this research.

[2015-04-15 15:02] ableman commented on #1597
Yes, it's from the live site. I also thought I might have done something like that so I double checked, and even asked Shauna to check I wasn't crazy. I've also tested this in Incognito mode, then rebooted into my Windows 7 boot (on which I don't have a local instance of openhatch) and tested again. And tested it on Internet Explorer. Same behavior for me every time.

[2015-04-15 15:10] paulproteus commented on #1600
I'm +1 on this idea generally, and willing to help out at some point.

[2015-04-15 15:21] willingc commented on #1600
I think this would be a nice addition to test the UI. Travis integration should be straightforward. I also know some San Diego folks that use both if we hit any bumps.

@shaunagm if you want to try to get it going at the sprint let me know.

[2015-04-15 16:09] paulproteus commented on #1599
Hi @NPrescott and @ableman -- please feel very free to work on this. It's a pretty important thingamabob.

[2015-04-15 16:14] paulproteus commented on #1600
Reasonably likely that @phildini would find it amusing to work on this.

[2015-04-15 16:24] dcwalk commented on #898
Moved to openhatch/open-source-comes-to-campus#113 as this is for OSCTC publicity.

[2015-04-15 16:24] #898 closed

[2015-04-15 16:25] ableman commented on #1599
I can reproduce this pretty reliably on dev if using Incognito mode, on the Widgetize yourself page in Settings. Putting in the </div> tag doesn't seem to fix it. Also, I'm using sublime text, and the autocomplete doesn't seem to think there is a <div> tag to close at that point

[2015-04-15 16:30] phildini commented on #1600
I could see helping out with this. My immediate thoughts are a selenium-like tool that runs a separate test suite of visual functionality and regression tests in sauce. (Keeping unit tests as their own thing, and therefore quicker for people to run locally)

I'm curious if others have tools they like better than selenium.

[2015-04-15 16:31] CleoQc opened #1601 "7 test Fails when run on Windows"
Paired with @willingc at Pycon 2015 sprints.

running Windows 8.1 and Python 2.7

======================================================================
FAIL: test_robots_with_debug_true (mysite.base.tests.RenderDevRobotsTest)
Set DEBUG to True in settings.py and verify that robots.txt contains
----------------------------------------------------------------------
Traceback (most recent call last)

[2015-04-15 16:45] ableman commented on #1599
Reverting #1586 does fix it

![image](https://cloud.githubusercontent.com/assets/4017467/7164295/28367310-e354-11e4-8822-5b21751c4e2c.png)

[2015-04-15 16:51] ableman commented on #1601
Linking to the previous discussion about this #1380 Can probably be consolidated into one discussion

[2015-04-15 17:56] CleoQc commented on #1580
Working on it.
I'm adding  $search-term -path:vendor as a trick to avoid the vendor directory from within github.

[2015-04-15 18:25] dcwalk opened #1602 "Update Events page to reflect current event focus"
The [Events](https://openhatch.org/events/) page (https://openhatch.org/events/) lists the Boston Python Workshop and Build It alongside Open Source Comes to Campus (OSCTC), is it possible to adjust this to reflect that OSCTC is primarily the active of the two?

[2015-04-15 18:34] ableman commented on #1599
After some investigation, I think the widgetize yourself page is a little special. For example, here's the openhatch live site

![image](https://cloud.githubusercontent.com/assets/4017467/7166476/d519247a-e362-11e4-90d0-94bb694582fd.png)

Here's the live site in icognito mode
![image](https://cloud.githubusercontent.com/assets/4017467/7166506/024ef28a-e363-11e4-8f1c-d9cc0b1af141.png)

removing lin

[2015-04-15 19:34] ableman opened #1605 "Both Email and Edit Contact Info Bolded when Email selected"
in account settings

![image](https://cloud.githubusercontent.com/assets/4017467/7167627/b3f6d0d6-e36b-11e4-98ec-4fe8081095b8.png)

[2015-04-15 19:35] CleoQc opened #1606 "Introduce project tags and potentially tag clouds"
Tags can be attached to projects to allow for a better and searchable description. Tags can be one word descriptors like Astronomy, Healthcare, or Games.

The goal is to have a better way for newcomers to find projects that would be of interest to them, based on subject matter.

Also, possibility of a tag cloud to get a high level view of what types of projects are in the database.

[2015-04-15 19:36] #1580 closed

[2015-04-15 19:38] shaunagm opened #1607 "OpenHatch should recommend projects"
In the past, this has been considered the domain of OSCTC, but everyone should be able to access our knowledge about what projects are especially welcoming and every project should be encouraged to use our guides/community to make their projects more welcoming.  So I'm moving this out of OSCTC.

Related issues: https://github.com/openhatch/oh-mainline/issues/1472, https://github.com/openhatch/open

[2015-04-15 19:41] paulproteus commented on #1607
++

[2015-04-15 20:54] #1605 closed

[2015-04-15 21:21] phildini commented on #1599
It looks like someone reverted and this fixed the issue? It's looking fine for me.

[2015-04-15 22:16] ableman commented on #1599
Problem still there for me.

![image](https://cloud.githubusercontent.com/assets/4017467/7170355/53691442-e382-11e4-95db-90ac38d43c3f.png)

[2015-04-15 22:35] ableman opened #1613 "Edit Settings page has a horizontal scroll bar"
It probably shouldn't

![image](https://cloud.githubusercontent.com/assets/4017467/7170665/0fbe81e8-e385-11e4-9b11-04df9270f20d.png)

[2015-04-16 10:43] sunilkumarc commented on #1613
I just checked the Box model of the **body** element of the account/settings page. This is what it looks like
![account_settings](https://cloud.githubusercontent.com/assets/3911000/7179205/1538e496-e453-11e4-9760-6a2581821872.PNG)
The **padding** and **margin-bottom** are not **0** for this element on this page.

Whereas in other pages it looks like this
![other_pages](https://cloud.githubusercont

[2015-04-16 19:03] onceuponatimeforever commented on #1591
I've researched the problem statement; Django official docs has this recommendation: https://docs.djangoproject.com/en/1.5/topics/http/sessions/#clearing-the-session-store

What bash script gets called everyday that which I can simply add in `./manage.py clearsessions`? @paulproteus I don;t know the answer to that question  because I don't have prod server access to be able to log in and find the

[2015-04-16 19:38] jwm opened #1615 "cron mail shouldn't go to Asheesh"
[code]

[2015-04-16 19:38] jwm commented on #1615
@paulproteus ^ ?

[2015-04-16 19:47] onceuponatimeforever commented on #1615
For context, why should the crontab output be emailed at all in first place to anyone or any mailing list?

[2015-04-16 19:57] #1591 closed

[2015-04-16 20:03] jwm commented on #1615
@onceuponatimeforever It's a basic way of monitoring cron jobs. By default, they should be silent, and emit output only on failure. That still leaves a potential failure mode where a job could fail silently, but a basic way is a basic way. :-)

[2015-04-16 20:11] ehashman commented on #1000
Closing as a duplicate of #1029.

[2015-04-16 20:11] #1000 closed

[2015-04-16 20:46] ehashman commented on #451
I'm not comfortable with closing this bug as I don't think it addresses a number of comments in the original issue, namely:

1. Adding a drop down login on the main page per @paulhomebus' feedback
2. Changing the "Relatedly" header over alternate login methods

This issue does appear to have spiralled in scope a bit, but I'd like to see these ideas addressed (possibly by moving them into other iss

[2015-04-16 20:49] ehashman commented on #1599
Appears to be fine with the main page (which was the most notable breakage for me) so I'm fine with resolving this.

However, the footer is still far off to the left (as reported above by me iirc) on the individual missions pages (see http://openhatch.org/missions/git for instance).

[2015-04-16 20:49] ehashman commented on #1580
Such +1, @CleoQc!

[2015-04-16 20:52] ehashman commented on #1601
Curious if @paulproteus' comments on #1380 would suggest that this kind of thing is out of scope. I kind of want to mark one of the two issues as a duplicate.

[2015-04-16 20:56] ehashman commented on #1597
I am unable to reproduce on any browser/OS; do we have any other reports of this?

[2015-04-16 20:59] ehashman commented on #1613
+1 @sunilkumarc! Yes, I've also noticed that the layout in settings is off for some reason (as you can see, there's ~10px of padding on the top/left). That may be contributing.

[2015-04-16 21:06] ehashman commented on #1443
I'm going to mark this as resolved given the fix in #1588.

[2015-04-16 21:06] #1443 closed

[2015-04-16 21:07] ehashman commented on #1392
Pull request has been merged so I am going to mark this as resolved. @paulproteus, hope you are satisfied with the fix!

[2015-04-16 21:07] #1392 closed

[2015-04-16 21:08] ehashman commented on #1253
#214 is now merged so I'm going to close this.

[2015-04-16 21:08] #1253 closed

[2015-04-16 21:09] ehashman commented on #1204
Is this fixed now, @willingc? I had assigned it to myself to remind myself to review the pull requests, but they appear to all be merged.

[2015-04-16 21:10] ehashman commented on #982
Think this needs a decision whether it is considered in scope.

[2015-04-16 21:11] ehashman commented on #890
#1431 was the first PR made towards this issue; we now await merging #1549 for it to be completed.

[2015-04-16 21:18] ehashman commented on #1579
FWIW I am no longer encountering this bug; perhaps one of the recent PRs/deploys fixed it. Can anyone else reproduce?

[2015-04-16 21:26] shaunagm commented on #1579
@paulproteus - this is fixed, right?  iirc the cause was unknown, but restarting the production removed the unwanted behavior.

[2015-04-17 00:18] paulproteus commented on #1579
TL;DR: Yes, this is safe to close.

Details:

The cause was:

The deploy script was only partially reloading the code that the server was
using. A partial code reload results in untold insanity, which resulted in
these very mysterious crashes. For more information about this sort of
insanity, please see:
http://foo.ca/wp/chick-tract-satire/who-will-be-eaten-first/

The short-term fix was:

Restart

[2015-04-17 01:41] sunilkumarc commented on #1385
I have fixed this issue. This is the merged pull request
https://github.com/openhatch/oh-mainline/pull/1583.

This issue can be closed.

[2015-04-17 02:10] ehashman commented on #1579
Nice. Good information for the future.

[2015-04-17 02:10] #1579 closed

[2015-04-17 02:10] ehashman commented on #1385
Great!

[2015-04-17 02:10] #1385 closed

[2015-04-17 02:17] ehashman commented on #1602
I think this would be a great bitesize bug. Here is my interpretation of @dcwalk's ask:

1. Navigate to https://openahatch.org/events/ and notice the events on the page have the Boston Python Workshops listed first, and Open Source Comes to Campus (OSCTC) second.
2. We'd prefer OSCTC to come first. To fix this, one will need to modify the static HTML of the page, which can be found at [mysite/base

[2015-04-17 02:20] ehashman commented on #1533
For what it's worth, this issue *does* appear to be resolved (no more 20 byte data snapshots being produced), so I'm going to set this to resolved for now.

[2015-04-17 02:20] #1533 closed

[2015-04-17 02:21] ehashman commented on #1233
Retriaging this as a bug.

[2015-04-17 02:23] ehashman commented on #1234
I am wondering if this "urgent" bug is still relevant? Are we even using account/settings/location this way anymore? I'm going to retriage this.

cc @paulproteus

[2015-04-17 02:28] ehashman commented on #1366
I'm pretty sure this has been resolved, come to think of it.

[2015-04-17 02:28] #1366 closed

[2015-04-17 02:30] ehashman commented on #1607
Also related: #341. Is this a duplicate?

[2015-04-17 02:33] ehashman commented on #1606
Appears to be a duplicate of #751?

[2015-04-17 02:43] paulproteus commented on #632
We no longer have the sufjan bot in the #openhatch IRC channel, so I will close this.

If we need MediaWiki functionality again with a bot, then we can look into it then.

Thanks to @ehashman for bringing this to my attention and to @pythonian4000 for years of useful service of of the sufjan meeting bot!

[2015-04-17 02:43] #632 closed

[2015-04-17 02:45] ehashman commented on #1601
Also #1213 is related.

[2015-04-17 02:47] ehashman commented on #1073
I installed Chromium just to test this and have happily discovered it is no longer an issue! Yay!

[2015-04-17 02:47] #1073 closed

[2015-04-17 02:48] ehashman commented on #1035
Closing as a duplicate of the more recent #1536.

[2015-04-17 02:48] #1035 closed

[2015-04-17 02:49] ehashman commented on #1536
@vipul-sharma20: I recommend you take a look at the recommended fix in #1035; not sure if it's still relevant but it couldn't hurt.

[2015-04-17 02:50] ehashman commented on #1582
The duplicate project name issue is already reflected in #1046, fyi!

[2015-04-17 02:53] ehashman commented on #382
I'd like to close this as "out of scope"; @paulproteus ?

[2015-04-17 02:53] willingc opened #1618 "Update Travis CI configuration to stop MySQL as an allowed failure"
Now that the MySQL tests are able to run and show green on Travis. I'm recommending updating Travis yml file to indicate that the MySQL environment is no longer an allowed failure.

[2015-04-17 02:55] ehashman commented on #1438
This is a more ambitious version of #397, so I'm going to close that as a duplicate.

[2015-04-17 02:56] #397 closed

[2015-04-17 03:00] ehashman commented on #1206
This is a super vague issue and I'm wondering if we can close it in favour of more specific issues. For what it's worth, many great changes to the docs have been made since it was last modified (Feb. 2014)

[2015-04-17 03:01] ehashman commented on #1196
Possibly relevant to @shaunagm.

[2015-04-17 03:03] ehashman commented on #1153
I wonder if this patch should be merged, given that I think this link would now be broken.

[2015-04-17 03:05] ehashman commented on #935
#1590 is relevant here.

[2015-04-17 03:08] ehashman commented on #1031
There hasn't been a change to patch.py for three years, so I'm going to close this.

[2015-04-17 03:08] #1031 closed

[2015-04-17 03:13] ehashman commented on #1009
Also potentially related to #341/#1607.

[2015-04-17 03:17] ehashman commented on #731
When @paulproteus checked out that the PNG rendered properly in his browser, he might have also suggested that this bug is no longer relevant given that the home page has been redesigned muchly since this was filed ;) Closing.

[2015-04-17 03:17] #731 closed

[2015-04-17 03:19] ehashman commented on #1438
Also related: #636.

[2015-04-17 03:27] ehashman commented on #1090
Is this still feasible?

[2015-04-17 03:28] shaunagm commented on #1607
Possibly, but in that case I'd close the old issue, not this one.

[2015-04-17 03:29] ehashman commented on #1017
Tested and determined it's not, so I'm closing this.

[2015-04-17 03:29] #1017 closed

[2015-04-17 03:29] shaunagm commented on #1602
When adding the mentor-available tag, it's probably useful to mention who can mentor -- although "whoever added the tag" is probably a reasonable assumption.  In addition to @ehashman, I'm willing to mentor this.

[2015-04-17 03:31] ehashman commented on #988
Since [Google Code is being shut down entirely](http://arstechnica.com/information-technology/2015/03/google-to-close-google-code-open-source-project-hosting/), I'm going to close this as out of scope.

[2015-04-17 03:31] #988 closed

[2015-04-17 03:33] ehashman commented on #1602
@shaunagm: along those lines, I would have added myself to the bug by assigning me, but then I was worried contributors might think that the bug was taken/in-progress.

[2015-04-17 03:34] #1618 closed

[2015-04-17 03:51] shaunagm commented on #1602
I think it makes sense to just mention potential mentors in the comments - presumably someone looking for mentored bugs will read the comments.

[2015-04-17 03:56] paulproteus commented on #731
+1

[2015-04-17 04:06] paulproteus commented on #988
Oh man, that is sad and amazing and I forgot about that.​

[2015-04-17 04:14] paulproteus commented on #1579
:heart_decoration: to all who commented here!

[2015-04-17 05:46] NPrescott commented on #1597
I can't reproduce this, I see the following:
[code]
Although I can't get the widget working either. It renders fine, but there's no content, unless it is a scheduled job or something? (example: http://nprescott.com/public/widget-test.html )

[2015-04-17 06:14] NPrescott commented on #1556
Can't reproduce on Firefox 37.0.1 under OSX 10.9.5 (or Chrome for that matter). I don't suppose we yet have OS specific tagging?

![screen shot 2015-04-17 at 12 57 33 am](https://cloud.githubusercontent.com/assets/4661088/7196786/08245f10-e49e-11e4-93f7-9d4b8d2a77f8.png)

For the sake of reference, this looks like it's being tackled in #1572

[2015-04-17 07:31] ableman commented on #1597
I'm not crazy, I swear. Here's the page from my desktop computer which I didn't take to Pycon, using a different google account in Incognito mode.

![image](https://cloud.githubusercontent.com/assets/4017467/7197698/d924b11a-e498-11e4-85af-798f76bba7cb.png)

Suggested testing behavior so that maybe someone other than me can see this. Log in as

mycrazyfavoritedummy@gmail.com
password: dummydestroy

[2015-04-17 08:08] NPrescott commented on #666
Digging through the bug backlog a bit here. I'm not sure I understand the original complaint, caching _is_ typically annoying in a development environment, but there are now tests in place that rely on/test the cache functionality. It's simple enough to disable caching in development with the following patch:

[code]
It will however break the following two tests (unsurprisingly):
 - test_with_lock

[2015-04-17 08:21] NPrescott commented on #1597
At this point this is more amusing than anything, still can't reproduce (using the above credentials):

![screen shot 2015-04-17 at 3 14 36 am](https://cloud.githubusercontent.com/assets/4661088/7198266/03739f0a-e4b0-11e4-8ca3-bc2bdb0b2498.png)

In both your screenshots you don't seem to have loaded the openhatch logo in the widget, ( `<img src="http://openhatch.org/static/images/logo-for-widget.p

[2015-04-17 12:49] ehashman commented on #1597
Okay! Good suggestion, @NPrescott. I've discovered that the localhost bug *only* occurs over HTTPS, and reproduced.

[2015-04-17 13:20] ehashman opened #1621 "Another misaligned subscribe button on front page, newsletter box"
This one is on the front page. I'm running FF 37.0.1 on Ubuntu.

![subscribe2](https://cloud.githubusercontent.com/assets/4706131/7202695/ae90fec8-e4e2-11e4-8c69-aab437ff424e.png)

Tangentially related to #1556.

[2015-04-17 14:39] ableman commented on #1597
Confirmed. Bug only occurs when using HTTPS, not HTTP. And yes, the logo also links to localhost in that case.

[2015-04-17 15:08] paulproteus commented on #1597
​Sadly it slightly makes sense that the problem would occur over just HTTPS
and not HTTP; the way the server is set up, they're slightly different.

Huge props to all involved for narrowing that down.

I just made the following config change to
/etc/nginx/sites-available/default -- was:

server {
listen   443;
server_name  localhost;

is now:

server {
listen   443;
server_name  openhatch.org;

an

[2015-04-17 15:10] NPrescott commented on #1597
Can confirm it is now working. I was also able to reproduce before the change was made.

:+1:

[2015-04-17 17:31] ableman commented on #1597
Yep. Closing this issue.

[2015-04-17 17:31] #1597 closed

[2015-04-17 17:51] #1550 closed

[2015-04-17 17:52] phildini opened #1622 "Review "Adding a User and Project" docs for grammar and capitalization"
Relates to #1620

/cc @paulproteus @onceuponatimeforever

[2015-04-17 22:18] STashakkori commented on #1621
Here's my attempt to horizontally center and beautify the Subscribe button.
https://github.com/openhatch/oh-mainline/pull/1624

[2015-04-18 04:41] sunilkumarc commented on #1613
In the account/settings page, body element looks like this
`<body id='body' class='one_column auth settings'>`

Styling for these class properties have been done in this file
https://github.com/openhatch/oh-mainline/blob/master/mysite/static/css/account/settings.css#L2&#L3

I'm not sure why **margin** and **padding-bottom** are required for **body.settings**.

[2015-04-18 21:46] ehashman commented on #1613
That's probably a bug; if you want to play around with removing that class (or just properties of that class) and submit a PR, I'd be happy to take a look.

[2015-04-18 21:48] jwm commented on #992
I can't reproduce this with Postgres 9.4 on Debian sid. Since this bug was last modified in 2012, maybe this isn't a going concern. I'll close this for now; we can always reopen if this is still problematic.

[2015-04-18 21:57] jwm commented on #1590
Still plugging away at this; converting the database data is proving to be a bit of a rabbithole, but that should be the last major thing to sort out before we can make the move.

[2015-04-18 22:18] ehashman commented on #992
+1

[2015-04-18 22:18] #992 closed

[2015-04-18 22:18] willingc commented on #1590
@jwm Excellent. Selena Deckelman would be a good resource if the rabbit gets stranded in the hole ;)

[2015-04-18 22:25] ehashman commented on #1444
I was just thinking about this issue and did a small amount of googling. [This is a good blog post](http://blog.wikichoon.com/2014/04/github-doesnt-support-pull-request.html) I found about GitHub's pretty limited support for mailing list notifications.

[2015-04-19 09:12] #1602 closed

[2015-04-19 09:17] Deborah-Digges commented on #1602
Closed by: https://github.com/openhatch/oh-mainline/pull/1626.

[2015-04-20 05:34] Deborah-Digges commented on #1600
I'm really interested in being a part of this. :smile:

[2015-04-20 05:59] willingc commented on #1600
@Deborah-Digges and others, Harry Percival's wonderful TDD book is available as a free online resource and it has content on selenium (http://chimera.labs.oreilly.com/books/1234000000754/index.html)

[2015-04-20 14:08] Deborah-Digges commented on #1600
Thanks @willingc, for this resource!:) I'll start familiarising myself with the material :)

[2015-04-20 16:04] eeshangarg opened #1628 "Add installation instructions for the pip2014 Mac OS X app to the pipvirtualenv mission"
Hello everyone!

The goal of this issue is to add installation instructions for [the pip2014 Mac app](http://pip2014.com/) to the [pipvirtualenv mission](http://openhatch.org/missions/pipvirtualenv). The source code file that has the installation instructions (right now only for Linux) for the pipvirtualenv mission can be found [here](https://github.com/openhatch/oh-mainline/blob/master/mysite/mis

[2015-04-21 20:41] moijes12 commented on #1560
# Contributing to OpenHatch

Yay! Its great that you want to contribute to the OpenHatch.org website. We look forward to receiving your contributions in code, feature requests and bug reports. Here are pointers and guidelines that we feel you should follow before creating your pull request, bug report or feature request.

## Code Contributors Guide
OpenHatch.org has created good documentation for

[2015-04-21 20:47] moijes12 commented on #1560
The above comment is an update to my the previous draft. @shaunagm , I have added malidzos' changes in the above update. If everyone is ok with it, then I will go ahead and raise a PR for this.

[2015-04-21 20:58] malida commented on #1560
no objections :)

[2015-04-21 22:12] willingc commented on #1560
Nicely done @moijes12 and @malida. @moijes12, please submit a PR :penguin:

[2015-04-22 14:04] eeshangarg opened #1629 "Recommend modifying .bashrc instead of running source .bash_profile in the pipvirtualenv mission"
Hi!

In the [Running into problems](https://github.com/openhatch/oh-mainline/blob/master/mysite/missions/templates/missions/pipvirtualenv/setup.html#L49) section of [the pipvirtualenv mission](http://openhatch.org/missions/pipvirtualenv/setup), we recommend running ```source ~/.bash_profile``` if pip does not work right away after running the [pip2014](http://pip2014.com/) script and restarting th

[2015-04-22 15:33] shaunagm commented on #1560
I've added descriptions of the bite-size label and the mentor-available label as well.  :)

[2015-04-22 18:50] moijes12 commented on #1560
@shaunagm Thanks! Added your updates to the PR.

[2015-04-22 19:30] paulproteus commented on #881
@moijes12 -- I saw you mention in IRC that you want to work on this. That'd be great!

Note that we _might_ have removed all the JS tests from the codebase, though. )-: So that's the first thing to check.

[2015-04-22 19:30] paulproteus commented on #881
Oh, I see -- this is about jslint/jshint, not about JS _unit testing_.

That would be great!

[2015-04-22 19:32] paulproteus commented on #881
https://groups.google.com/forum/#!topic/mozilla.dev.mdn/4QxaaTtvx38 has some information about how others have approached this problem, for what it's worth!

[2015-04-22 19:32] paulproteus commented on #881
https://core.trac.wordpress.org/ticket/26446 is also an arguably-interesting discussion.

[2015-04-23 04:13] #1629 closed

[2015-04-23 16:54] anurag619 commented on #1206
From what I can remember, the request was merged.

[2015-04-23 19:49] rghamilton3 opened #1633 "OpenID 2.0 for Google Accounts has gone away"
When trying to sign up for a new user account via Google you are redirected to https://support.google.com/accounts/answer/6206245?p=openid&rd=1 which states "OpenID 2.0 was replaced by OpenID Connect, and since April 20, 2015, no longer works for Google Accounts. OpenID 2.0 support was shut down in order to focus on the newer open standard OpenID Connect, which provides greater security for your a

[2015-04-24 10:11] #1560 closed

[2015-04-24 10:18] willingc commented on #1633
@rghamilton3 Thanks for reporting this issue. :penguin:

[2015-04-24 10:36] #1622 closed

[2015-04-25 01:54] saqib-nadeem opened #1635 "Bug while Signup"

[2015-04-26 15:06] thomasballinger commented on #1515
Did anything happen with this offline during sprints? Sorry for noise, I might have some time today to try to get the scraper running locally again to suggest a fix.

[2015-04-26 16:47] paulproteus commented on #1515
Hi @thomasballinger ! Yes -- we tested your fix, and we concluded it should work fine. Thank you for the research you did, the explanation of how to use the GitHub auth stuff, and for this ping.

I actually also have some time today to look into this, too. Given that, I propose that I ping you back here in about two hours with a status update, and we'll see how I've fared.

[2015-04-26 16:48] paulproteus commented on #1515
I wish I had chased down the nice person who was working on this during sprints to find out exactly what code change he made. For now I'll quickly try to recreate it.

[2015-04-26 18:38] paulproteus commented on #1515
FWIW, I am running a fresh crawl right now, and we'll see if my changes to oh-bugimporters fix this. If so, I'll submit a pull request.

[2015-04-27 14:32] njuvan commented on #1085
The issue persist, as it seems. I'm getting the same error message: "The patch affects the wrong file." I'm running Linux Mint 17 KDE. I edited the README file, that needed to be corrected, with vim text editor and I tried to submit the diff output via latest Firefox and Chrome browsers but to no success.

[2015-04-27 16:05] willingc commented on #1635
@saqib-nadeem Thanks for the issue report. Are there any more specific details that you can share? Thanks.

[2015-04-27 16:30] saqib-nadeem commented on #1635
Other-day, when I tried to sign up without open ID by filling sign up details over here => http://openhatch.org/account/signup/ showed me something like that csrf token error, However today I just gave another try it works fine :)

[2015-04-27 23:25] willingc commented on #1635
Thanks for the update @saqib-nadeem.

Closing this issue. If anyone experiences this issue, please reopen this. Thanks.

[2015-04-27 23:25] #1635 closed

[2015-04-28 14:08] willingc opened #1641 "Footer bar height causes git mission text to be obscured"
Footer bar is not displaying correctly in the git training mission landing page. The footer's height is too large and overwrites the mission text. The screenshot was taken using most recent version of Chrome.

![screen shot 2015-04-28 at 7 02 45 am](https://cloud.githubusercontent.com/assets/2680980/7371325/05bead04-ed75-11e4-8dbc-484d739a57b7.png)

This may be related to #1437.

[2015-04-28 14:30] dkalaluhi commented on #1633
+1 Will I be able to get my ghetto account removed once the Google auth bug is fixed :)

[2015-04-28 17:34] paulproteus commented on #1633
Sure, I can make sure we remove it when the time is right! (-:​

[2015-04-29 06:02] willingc commented on #1534
@onceuponatimeforever @paulproteus  Yay!

[2015-04-29 06:29] paulproteus commented on #1641
For what it's worth, this is still true with the latest changes.

[2015-04-29 06:32] paulproteus commented on #1633
This is pretty important. Sorry that this is currently broken.

[2015-04-29 15:30] eeshangarg commented on #1446
Hi @ehashman!

I just made a PR for this #1643. :-)

Regards,
Eeshan Garg

[2015-04-29 18:19] dkalaluhi commented on #1556
Alignment looks correct for me as well.

*OS*:
_Windows 7 Enterprise SP 1_

*Browser:*
_Chrome Version 42.0.2311.90 m_
_IE 9.0.8112.16421_

[2015-04-30 17:57] #1446 closed

[2015-05-01 04:09] willingc commented on #666
@NPrescott Thank you for your detailed research and write up. I agree with the question you raised on IRC to either file a PR or close this issue.

I'm inclined to close this issue. Perhaps my configuration differs from yours but I am seeing these two tests pass when DEBUG = True. Are you still seeing test failures?

What are your thoughts on closing this issue?

[2015-05-01 04:29] NPrescott commented on #666
@willingc - I should have been clearer, the two tests fail with `DEBUG=True` only when the above patch is applied. Otherwise they are currently passing.

I would vote to close the issue from what I have seen; I'm not sure what disabling caching buys developers at this point (other than maybe being a more standard practice I suppose?). I think it would unnecessarily complicate running the tests if

[2015-05-01 04:34] willingc commented on #666
@NPrescott - That makes more sense re: patch and tests.

I agree with your recommendation to close this issue, and will do so now.

Thanks for the detailed feedback and work that you have put into researching and resolving this issue. In the future, please feel free to share your thoughts in the issue comments if you think an issue should be closed or a PR generated. :+1:  :penguin:

[2015-05-01 04:34] #666 closed

[2015-05-01 16:18] sunilkumarc commented on #1621
Hi @paulproteus @shaunagm @willingc @ehashman,

I have fixed the alignment of 'Subscribe' button in the home page. This is how it looks in chrome now
![fix-1621_chrome](https://cloud.githubusercontent.com/assets/3911000/7433104/a1ad9f3a-f04b-11e4-951d-d07b63373f22.jpg)

And this is how it looks in firefox now
![fix-1622_firefox](https://cloud.githubusercontent.com/assets/3911000/7433115/b3bf39c2-f

[2015-05-01 16:35] phildini opened #1645 "Contributing docs should ask for screenshots?"
This is more a reminder to myself, but comments or PRs about the issue totally welcome!

I think we should add a line in the contributor's guide saying we greatly encourage attaching screenshots to PRs that have frontend changes. The first version of this could just say so as a line item, we could also expand it to link to a doc on taking screenshots and explain why we want them.

[2015-05-01 16:36] phildini commented on #1621
Fixed by #1644.

[2015-05-01 16:36] #1621 closed

[2015-05-01 17:08] paulproteus commented on #1645
+1

but also, we have an overdue TODO to have auto-deploy-on-Heroku be part of
the pull request process, which might even obviate some of the need for
screenshots.

[2015-05-02 11:31] willingc commented on #1645
+1 to both comments.

[2015-05-03 23:39] willingc opened #1646 "Remove unused, legacy function commit_poll"
In the `mysite/missions/svn/views.py` file, `commit_poll` is an unused function from the early years of OpenHatch missions. The function is no longer used by any of the existing code. I recommend removing the function and the `urls.py` redirection to it.

[2015-05-04 00:08] willingc opened #1648 "Remove unneeded, redundant code in svn mission"
Refactor the `class Diff(SvnBaseView)` in mysite/missions/svn.
The else statement in  def get_context_data(self, *args, **kwargs) is unneeded and does not change the code's functionality.

[2015-05-05 21:56] dirkbaechle commented on #1515
This looks like it has been fixed now. At least we finally see a list of open issues for the SCons project ( http://openhatch.org/projects/SCons ). So freaking awesome!
Big thanks to anyone involved in resolving this!!!

Remark: This probably resolves https://github.com/openhatch/oh-bugimporters/issues/108 as well...

[2015-05-05 22:47] ehashman commented on #1515
@dirkbaechle: amazing!!! I am so happy this is finally fixed ^_^ I will mark the issues resolved.

[2015-05-05 22:47] #1515 closed

[2015-05-06 00:58] pdurbin commented on #1633
I've been logging into OpenHatch via Google but now I can't and I'm wondering if there is any sort of process for migrating whatever state I have saved under my Google login (partially completed missions, etc.) to a non-Google login until this is fixed.

And once it's fixed I'm curious if I'd be able to move that saved state back to my Google login. If this is all simply crazy talk, the idea of sw

[2015-05-06 01:02] pdurbin commented on #1014
Not anymore, I guess. Now that site says, "NOTE: THIS LIBRARY IS DEPRECATED IN FAVOR OF [python-social-auth](https://github.com/omab/python-social-auth). RIGHT NOW THIS LIBRARY DEPENDS DIRECTLY ON python-social-auth AND SHOULD BE CONSIDERED AS A MIGRATION STEP."

[2015-05-06 01:03] pdurbin commented on #1240
#1014 talks about switching away from django_authopenid to something that's maintained.

[2015-05-06 03:16] willingc commented on #1515
@dirkbaechle Thank you for having huge patience. I'm so glad it is resolved and that SCons project tracker is now working :bouquet: :tea: :gift_heart: for being super to work with.

[2015-05-06 03:31] willingc commented on #1633
I found this doc while researching the issue: https://developers.google.com/identity/protocols/OpenID2Migration

Leaving this for someone @paulproteus @eeshangarg @ehashman @phildini that has more authentication experience than me.

[2015-05-06 07:54] impaktor commented on #1515
Thanks!

I now see 30 of our 295 open issues from our github tracker on openhatch. Not sure why though. We have `Bite-sized` flagged 3 issues, so I expected either all 295 or just 3 to show up in openhatch.

[2015-05-06 10:25] eyala commented on #1435
This problem seems to have been solved for [one of my projects](http://openhatch.org/projects/gedit-pig),  but not [the other one](http://openhatch.org/projects/pig-eclipse). It doesn't show that it has a tracker in the UI, but I can't add its tracker because it says it is already added. In addition, I can't find its tracker in the general GitHub custom trackers list, so I can't delete it from the

[2015-05-06 11:14] willingc commented on #1435
@eyala Thank you for your update. I'm sorry that both trackers are not yet working as expected.

OpenHatch developers: Here are some additional details.
A screenshot of the working project tracker (gedit-pig)
![screen shot 2015-05-06 at 3 57 37 am](https://cloud.githubusercontent.com/assets/2680980/7492040/974c553e-f3a4-11e4-8e62-28c37c5a7507.png)

Here is the screenshot of the project (Pig-Eclips

[2015-05-06 11:17] willingc commented on #1435
Additional information

Project edit form is not allowing an edit and save. Save button seems unresponsive.
https://openhatch.org/+projedit/Pig-Eclipse

[2015-05-06 18:32] Sanal05 commented on #1599
Whenever I open openhatch I notice the page to get overlapped with another information specified in the bottom of the page. So I the last few lines of the information of the page gets hidden.
I tried to inspect the page and came to see a <div id = "footer-wrapper"> </div> and so I simply delete the footer-wrapper in the id and then the overlapping problem gets resolved. But temporarily.
I think th

[2015-05-07 00:01] #1648 closed

[2015-05-07 00:04] willingc commented on #1641
This is still an issue with latest Google Chrome version.  Oddly enough, it seems fine on Firefox. Stubborn footer :(

Chrome
![screen shot 2015-05-06 at 5 00 30 pm](https://cloud.githubusercontent.com/assets/2680980/7506221/fbd21fee-f411-11e4-9885-cc2873925acc.png)

Firefox
![screen shot 2015-05-06 at 5 03 38 pm](https://cloud.githubusercontent.com/assets/2680980/7506224/0369004c-f412-11e4-8437-d

[2015-05-07 00:07] ehashman commented on #560
Closed by #1540.

[2015-05-07 00:07] #560 closed

[2015-05-07 00:11] ehashman commented on #1515
@impaktor: I can see that. Perhaps file a separate issue, possibly against openhatch/oh-bugimporters.

[2015-05-07 00:13] ehashman commented on #1599
I don't know if #1627 broke this again, but the footer's now overlapping again :\

![screenshot-6](https://cloud.githubusercontent.com/assets/4706131/7506321/5d99684e-f42c-11e4-88ca-40a870ba3fb4.png)

[2015-05-07 00:16] paulproteus commented on #1646
Are ​you sure that Javascript doesn't poll this periodically? I thought
that was how the svn mission advanced itself, when you get to the last step.

[2015-05-07 00:29] willingc commented on #1646
@paulproteus Well, not 100% sure. I'm sure that when I tested it locally that it did not get called. That said, when I tested the other fixes to the SVN mission that just got merged, they worked locally on both FF and Chrome with no problems. Yet after deployed, the form box doesn't display until after you hit submit for the diff page on FF, and on Chrome, it's obscured by the footer :(

One step

[2015-05-07 00:37] ehashman commented on #1534
In order to set this resolved, I expected that either small datasets would be available on inside.openhatch.org, or that I could use some kind of tool to create a small data set. I clicked on @onceuponatimeforever's links but I don't see either of these solutions. Could someone please advise?

[2015-05-07 03:35] ableman commented on #1599
It probably did, if you look at #1608 all I did was remove the "bottom:0" line. #1627 put it back in. My best guess is that absolute does not mean what you would naturally assume it means http://www.w3schools.com/cssref/pr_class_position.asp

Note the description here "The element is positioned relative to its first positioned (not static) ancestor element"

So, it's not bottom: 0 relative to the

[2015-05-08 06:08] willingc commented on #1641
@paulproteus I did a little investigating on this based on your suggestion on IRC re: resetting the cache in Chrome. That did fix the overlapping footer. Is there a way in javascript or something else that will trigger a reload of the footer after a change is deployed?

[2015-05-08 20:40] elifarley opened #1651 "Error: The user account associated with this email address cannot reset the password."
Since I'm unable to log in using Google anymore ( see #1633 ), I've tried to reset my password.

Here's the error message I've got:
**The user account associated with this email address cannot reset the password.**

[2015-05-13 12:18] willingc commented on #1246
Here's an excellent resource that I stumbled across for upgrading to 1.7:
http://andrewsforge.com/presentation/upgrading-django-to-17/

[2015-05-13 12:22] willingc commented on #1651
@elifarley Thanks for the issue report. As you very correctly pointed out this issue is related to issue #1633. Once #1633 is resolved, then this issue should also be resolved. Thanks again. :penguin:

Dev team: I am marking this as a duplicate and closing this issue.

[2015-05-13 12:22] #1651 closed

[2015-05-14 01:27] rcrimp commented on #1556
Unable to reproduce the button overlap on GNOME, Fedora 21 with either firefox or chrome.
The the button is noticeably lower with firefox, such that it does not align vertically with the textfield

Firefox version: 37.0.2
Google Chrome version: 42.0.2311.135

[2015-05-16 13:46] jpellman commented on #1633
+1

[2015-05-17 19:11] pdurbin commented on #1633
Works fine now! Thanks @paulproteus!

[2015-05-17 20:20] paulproteus commented on #1633
Thanks, all. Seeing as this has been tested resolved, I'll close the issue.

[2015-05-17 20:20] #1633 closed

[2015-05-19 10:53] pdurbin commented on #1435
I'm having this problem too, I think. This is how I expressed it in IRC:

http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-05-19

[2015-05-19 13:03] eeshangarg opened #1653 "Recommend distro/OS specific commands to install pip, virtualenv, etc in the pip/virtualenv mission"
Hi everyone!

I was thinking about the pip/virtualenv mission, and I thought, should we start recommending distro/OS/package manager specific commands to install pip, virtualenvwrapper, wheel etc, instead of the pip2014 script? For instance, I tried Fedora a couple of months ago and I could easily ```yum install``` all of the above mentioned tools and everything worked! Recently, I felt that I mis

[2015-05-21 06:43] NPrescott opened #1654 "Adding a drop down login on the main page"
[This original issue](https://github.com/openhatch/oh-mainline/issues/451) brought about a feature request, distilled down from [this conversation](http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2011-04-26#i_2616885).

@paulhomebus's mockup:
![login-mockup](https://cloud.githubusercontent.com/assets/4661088/7742789/f75a7a22-ff58-11e4-8178-f1dc1290ccb2.png)

[2015-05-21 06:49] NPrescott commented on #451
I've opened a new issue, #1654, so that this issue might be closed/cleared. Just doing a bit of backlog grooming and trying to identify those things which have been addressed vs. need addressing.

I opted not to include the issue of "relatedly" in the new issue because it seems as though the point would be moot were the suggested sign-in implemented.

[2015-05-21 07:51] NPrescott commented on #1641
JavaScript can't force a browser to clear its cache, so far as I know. Possible solutions would be to
 - disable caching at the webserver, Nginx would use something like `expires           0;` in the server block
   - not ideal because you lose all the benefits of caching
 - serve static files through Django and use something like [ManifestStaticFileStorage](https://docs.djangoproject.com/en/1.8/r

[2015-05-21 09:10] NPrescott commented on #1641
I know I've mentioned this before ( and still haven't found time to track it down ) but I believe the footer on the git mission page is off-center because of a missing `</div>` tag on the `<div id="container">`. I _think_ it was removed [here](https://github.com/openhatch/oh-mainline/commit/1fa255d520f1a48316f2065cffbd8c265c2e0143#diff-2c057cdb9dbc27e65838df9cef619929L158). You can check with the

[2015-05-21 17:05] moijes12 commented on #881
I've tried out running jshint on the oh-mainline project. At first it gave over 3500 issues. On a closer look, I noticed that some of them were related to the filed in oh-mainline/vendor and oh-mainline/mysite/static/jquery-ui-1.7.3. I configured a .jshintignore file to ignore the javascript files under these directories (and their subdirectories). It turns out, we still git 2125 errors.

How shou

[2015-05-21 18:40] willingc commented on #1654
Hi @NPrescott, Thanks for opening the issue :)

[2015-05-21 18:42] willingc commented on #1653
@eeshangarg +1 I think this would be a good idea in missions or docs :) Thanks!

[2015-05-21 18:44] willingc commented on #1641
@NPrescott Thanks for the additional insights and PR. I will do my best to review the PR in the next day. If someone else wishes to review before then, please do so.  Thanks again :)

[2015-05-22 15:41] moijes12 commented on #1654
I'd like to work on this.

[2015-05-22 22:10] bhollan opened #1655 "Error 522 Connection timed out"
![image](https://cloud.githubusercontent.com/assets/8443608/7780400/0813dd30-00a4-11e5-8581-c69c6e0e1725.png)

The site is not loading for me.  I don't recognize this error at all.  I had other friends check it through other ISPs and it seems to not be working anywhere.

Error 522 Ray ID: 1eabc8071eb803ee • 2015-05-22 21:58:30 UTC
Connection timed out

Chrome Dev Tools says "Failed to load resourc

[2015-05-23 01:16] bhollan commented on #1655
Must have resolved itself.  I first saw this yesterday and it only just now (roughly 24 hours at least) is pulling up the site.

[2015-05-23 01:16] #1655 closed

[2015-05-23 11:56] waseem18 opened #1656 "Footer overshadowing mission body in Chrome (43)"
While browsing Training missions (http://openhatch.org/missions/) I found that the footer is overshadowing some part of the body. All the subpages of Training missions are behaving the same way in Chrome(43). This issue is only with Chrome(43). It works fine with Mozilla and IE and also with previous version of Chrome.

Attached images:

![m2](https://cloud.githubusercontent.com/assets/5843007/778

[2015-05-23 13:00] pdurbin commented on #1536
Just a heads up that @moijes12 might take a look: http://irclogs.jackgrigg.com/irc.freenode.net/openhatch/2015-05-23#i_3635838 (thanks!)

[2015-05-23 14:49] willingc commented on #1654
@moijes12 That's great.

[2015-05-23 14:53] willingc commented on #1656
@waseem18 Thanks for filing this issue report. Would you mind clearing the cache on your version of Chrome and seeing if that resolves the issue?

We've been chatting about this in issue 1641 https://github.com/openhatch/oh-mainline/issues/1641.

[2015-05-23 16:40] waseem18 commented on #1656
@willingc Yeah! After I cleared the cache, webpage rendered correctly.

[2015-05-23 16:46] willingc commented on #1656
@waseem18 Great. I'm glad that worked for you.

Closing this issue as a duplicate of #1641.

[2015-05-23 16:46] #1656 closed

[2015-05-24 07:56] moijes12 opened #1657 ""Intro for developers" and "Code docs" links on the home page point to the same page"
Clicking on "Intro for developers" or "Code docs" opens the same page. I think we should keep only link.

![openhatch_links](https://cloud.githubusercontent.com/assets/4566851/7787126/2f7a1838-0218-11e5-9f47-c372f2ee6003.jpg)

[2015-05-24 10:06] eeshangarg opened #1660 "Recommend New Coder's Mac OS X setup instructions in the pipvirtualenv mission"
Hi!

As per #1659, I was thinking that maybe we could stop recommending [pip2014] (http://pip2014.com/) and instead recommend following [New Coder's] (http://newcoder.io/) [Mac OS X setup instructions] (http://newcoder.io/begin/setup-your-machine/#mac-os-x) for installing Python, git, a C compiler, pip, virtualenv and virtualenvwrapper in the [pipvirtualenv mission] (https://openhatch.org/missions

[2015-05-24 10:10] eeshangarg commented on #1628
Hi!

As per #1660 and #1659, I think we should close this issue. :-)

Regards,
Eeshan

[2015-05-24 10:10] #1628 closed

[2015-05-24 20:47] #1657 closed

[2015-05-24 20:53] phildini commented on #1660
+1, with the caveat that I think for a large-direction change like this one, multiple +1's are needed.

/cc @willingc @paulproteus @ehashman

[2015-05-25 00:31] pdurbin opened #1661 "run_importer.sh: line 56: syntax error: unexpected end of file"
I was just looking at http://inside.openhatch.org/crawl-logs/ because I was wondering about #1435 and http://inside.openhatch.org/crawl-logs/scrapy.2015-05-06.I0iA.log seems fine but every day after that says `run_importer.sh: line 56: syntax error: unexpected end of file`

Here: http://inside.openhatch.org/crawl-logs/scrapy.2015-05-07.Qf9K.log

[2015-05-25 00:38] prologic commented on #1661
:+1:

[2015-05-26 17:27] dgmouris commented on #1436
Hi Guys,

Don't know if this is an already resolved but I still get this error:

git clone https://openhatch.org/git-mission-data/git/myuser git_missions
Cloning into 'git_missions'...
fatal: unable to access 'https: .......url ...../': error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure

Let me know if this helps or if this is the same issue.

Cheers,

Dan

[2015-05-26 17:44] ehashman commented on #1436
This could possibly be a server/deployment problem. Paging @paulproteus.

[2015-05-26 17:49] dgmouris commented on #1436
I think you might be right, might be a cloudflare problem, as I feel like this is another person has had this problem on cloudflare:

https://gitlab.com/gitlab-com/support-forum/issues/184

[2015-05-26 23:32] paulproteus commented on #1436
Hi dgmouris,

Can you tell me what operating system you're using? If it's a version of
Windows earlier than 7 (for example, Vista or XP) you are likely to have
problems, I'm afraid.

[2015-05-27 00:02] paulproteus commented on #1661
Wow, huh.

[2015-05-27 00:02] dgmouris commented on #1436
I am using windows 7 ,and a bash git shell to clone the repo.

[2015-05-27 00:07] dgmouris commented on #1436
I'd love to help out in any way with the code as well, if you need it:)

[2015-05-27 00:08] paulproteus commented on #1661
Re-running the importer with this diff:

[code]

[2015-05-27 00:10] paulproteus commented on #1436
dgmouris, good to know. Can you try this version of Git for Windows?
https://github.com/msysgit/msysgit/releases/

and see if the problem goes away?

If so, that'll be great to know.

[2015-05-27 17:18] #1653 closed

[2015-05-27 23:20] dgmouris commented on #1436
Hey Paul,

just used that version of git for windows and the problem doesn't seem to go away.

The exact same cloning problem as cited above happens.

Cheers,

Dan

[2015-05-28 04:55] dgmouris commented on #1436
Let me know if there's anything I can do to help:)

[2015-05-28 06:19] willingc commented on #1436
@dgmouris Thanks for following up on this issue and trying to get the clone to work with Windows 7.

A couple of questions:
1. Perhaps the obvious question but I will ask anyway: when running the `git clone` command, you specified your username. Correct? I assume that you did; otherwise, I would expect a different error.
git clone https://openhatch.org/git-mission-data/git/willingc git_missions

2

[2015-05-28 06:38] willingc commented on #1436
A bit more research... I ran the Qualsys SSL Server Test on openhatch.org (https://www.ssllabs.com/ssltest/).

![screen shot 2015-05-27 at 11 32 45 pm](https://cloud.githubusercontent.com/assets/2680980/7853913/ea370fca-04c8-11e5-8f12-fce280de3276.png)

Here's info on the supported protocols (TLS yes; SSL no). I believe the error message that @dgmouris saw mentioned SSLv3.
![screen shot 2015-05-27

[2015-05-28 15:31] eeshangarg opened #1664 "Add support for Assembla to openhatch/oh-bugimporters"
Hello!

I am aware that there already exists an [issue] (https://github.com/openhatch/oh-bugimporters/issues/76) for this in the [openhatch/oh-bugimporters] (https://github.com/openhatch/oh-bugimporters) repository. The reason I have submitted this issue here as well is because I am interested in working on this and filing an issue here felt like a great way to get answers and feedback since there

[2015-05-28 16:15] paulproteus commented on #1664
Yeah! If there is an Assembla JSON API, by all means let's use that.

[2015-05-30 06:17] BobBaig commented on #1436
Any progress on this issue?  I too have Windows 7.   Following OpenHatch directions to a T: https://openhatch.org/missions/git/checkout
Getting the same SSL v3 error message:
fatal: unable to access 'https://openhatch.org/git-mission-data/git/bobbaig1/':
error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure
% openssl version
OpenSSL 0.9.8zf 19 Mar 2015

[2015-05-30 06:35] willingc commented on #1436
@BobBaig Thanks for the update and the workaround.

@paulproteus: My recommendation would be to update the mission instructions to recommend that Windows 7 users use http if the https commands are not working with their version of OpenSSL. Thoughts?

[2015-06-02 03:22] paulproteus commented on #1436
If http:// works, but https:// doesn't, I think it's OK in this case to
have people use http:// . Good idea, even if a slightly sad one, Carol!

[2015-06-02 17:23] dgmouris commented on #1436
The http works for me as well thanks @BobBaig @paulproteus and @willingc !

[2015-06-02 17:39] dgmouris commented on #1536
@pdurbin @ehashman I was wondering if you guys still need help with this and if I can help out.

[2015-06-03 03:04] moijes12 commented on #1536
@dgmouris Thanks. It would be great if you could look into this. I tried it but couldn't get far as I don't know much about JavaScript.

[2015-06-03 06:34] palbakulich commented on #1654
Looking forward to seeing this implemented!

[2015-06-03 13:51] Deborah-Digges commented on #1654
hi @moijes12 . If possible, I would love to help on this :smiley:

[2015-06-03 16:34] dgmouris commented on #1536
@moijes12 I still need to set up my environment and stuff (hopefully in the next few days), but I could help you out as well if you'd like as I have some experience with javascript and jquery.

[2015-06-04 17:01] moijes12 commented on #1536
Thanks @raissaa . Someone, please change the status of this ticket to needs-review

[2015-06-04 17:31] eeshangarg commented on #1664
Hi @paulproteus!

I have another question. So there are a couple of ways using which we can interact with the Assembla API. And I am a bit confused as to which [authentication scheme] (http://api-doc.assembla.com/content/authentication.html) would be the most suitable for writing a bug importer, I would really appreciate it if you could please give me some advice regarding this as well. :-)

Thank

[2015-06-04 17:58] willingc commented on #1536
Thanks @raissaa and @moijes12. I've updated the status :)

[2015-06-04 18:05] willingc commented on #1536
And updated the status to resolved. Sorry missed the recent merge.

@raissaa Thank you for the contribution :penguin: If you have not already submitted an contribution email permitting us to share your work http://openhatch.readthedocs.org/en/latest/getting_started/handling_contributions.html#permit-us-to-share-your-work, please do so.

[2015-06-04 18:21] raissaa commented on #1536
@willingc Oh sorry, I forgot about that, but will do. Thanks. :smiley:

[2015-06-04 18:30] #1536 closed

[2015-06-05 01:36] willingc commented on #1646
@paulproteus I determined when working on PR #1663 that commit_poll is needed so I am closing this issue.

[2015-06-05 01:36] #1646 closed

[2015-06-05 05:08] paulproteus commented on #1646
OK!​

[2015-06-06 14:23] moijes12 commented on #1654
@Deborah-Digges Maybe you can start working on it and I'll help in testing. I'm still learning JavaScript and Front-end stuff and improvements to OpenHatch shouldn't stop because of that :) .

[2015-06-06 15:07] willingc commented on #1654
Sounds like a good plan :)

[2015-06-06 16:24] Deborah-Digges commented on #1654
@moijes12 @willingc that sounds great :D I'll keep you posted on the status of this feature !

[2015-06-07 17:38] hombero commented on #1502
Is this still an issue? I'm interested in taking a look and attempting a fix but unable to find the page as displayed in screenshot

[2015-06-09 16:39] Deborah-Digges commented on #1654
I've read through the IRC logs and the roundup bug and I just want to confirm my understanding of the requirements:
From the homepage, on clicking the login/signup link, we are directed to the http://openhatch.org/account/login/ page which is to look like @paulhomebus's mockup.
This page will have no header and footer.

[2015-06-09 21:35] palbakulich commented on #1654
@Deborah-Digges... that was the suggestion by @paulproteus.
If we could use the drop-down method as originally suggested @  http://uxmovement.com/forms/dropdown-login-boxes-for-faster-login.   -- That would be awesome!!

Instead of using a dropdown select box as in the original mockup, just use icons for the openid / oauth providers, with the relatedly stuff at the bottom for those who prefer.

Th

[2015-06-15 09:10] palbakulich commented on #1502
@hombero Take a look at installing a snapshot database for testing purposes... https://openhatch.org/wiki/Importing_a_data_snapshot & http://inside.openhatch.org/snapshots/ That will give you plenty of project pages to look at!

[2015-06-15 09:11] palbakulich opened #1667 "Make Openhatch.org mobile friendly"
This will mean changing a whole heap of the CSS, and also fixing some long-standing CSS problems eg. #1502, #1613

[2015-06-15 21:07] brittag commented on #1641
I was looking at this today since it slightly hides our nice promotional stuff on the bottom of the homepage - tiny nudge for somebody to look at this. :)

[2015-06-16 03:26] NPrescott commented on #1641
This slipped my mind entirely, I think I may have deleted the branch on GH after I botched a commit but all should be well and ready for review now. I've got an open PR now against this with the fix I mentioned previously.  Thanks for the nudge @brittag.

[2015-06-16 04:45] NPrescott commented on #881
Regarding the discussion linked on Wordpress' Trac page and Mozilla.dev - I'm of the opinion that a linter shouldn't be integrated into a Travis pass/fail status. It seems more appropriate to ask that contributors run a linter themselves or include output of a linter on their PR. To tie build status with what can be described as coding style seems like it could prompt more problems than it solves.

[2015-06-17 12:29] #1599 closed

[2015-06-17 12:32] willingc commented on #1641
Closed by PR #1668

[2015-06-17 12:32] #1641 closed

[2015-06-18 04:58] MrMepper commented on #1595
This seems like an easy enough bug to fix. I'll try my hand at it.(:

[2015-06-18 10:39] saigkill opened #1669 "Add support for Youtrack Bugtracker"
Please add support for Youtrack Bugtracker (https://www.jetbrains.com/youtrack)

[2015-06-20 21:57] ehashman commented on #1669
Hi @saigkill! Thanks for the request. I'll file this against the correct repository (oh-bugimporters). :)

[2015-06-20 21:57] #1669 closed

[2015-06-20 21:59] ehashman commented on #1454
I'm moving this bug to the correct repository. :)

[2015-06-20 21:59] #1454 closed

[2015-06-20 22:14] ehashman commented on #451
Thanks @NPrescott for splitting off the dropdown login issue.

I'm going to leave this issue open as I agree that the "Relatedly" header is confusing, and I think that text needs to be changed. This means this is a bitesize feature request!

**Steps to reproduce:**

1. Hit the "log in / sign up" button in the navigation bar on openhatch.org.
2. Notice that there is a right-hand navigation section

[2015-06-21 18:34] ehashman commented on #1664
@eeshangarg: just from briefly looking at that documentation, I believe client credentials would be the way to go.

We do need changes in both oh-bugimporters and oh-mainline to bring a new tracker online, so if you're ready to work on this, it's good that you've filed this issue. Make sure you file one against bugimporters too!

[2015-06-21 18:37] ehashman commented on #1436
I'm going to close this, given that things are looking resolved (at least via workaround :) )

[2015-06-21 18:37] #1436 closed

[2015-06-21 18:44] ehashman commented on #1556
![misaligned](https://cloud.githubusercontent.com/assets/4706131/8272905/293c3792-1813-11e5-92b9-4be163334600.png)

This what's currently in production, as viewed on Firefox 38.0 for Linux Mint Rebecca (17.1).

[2015-06-21 18:53] ehashman commented on #1206
Okay, I am going to close this then, as there is nothing specifically actionable here and you seem to have already addressed it in some way!

[2015-06-21 18:53] #1206 closed

[2015-06-22 03:17] ehashman commented on #1595
Link is now clickable many times! How strongly do we feel about the placement, @willingc? Perhaps I'll leave it to you or @ableman to decide whether this bug is resolved now.

[2015-06-22 22:20] MrMepper commented on #1595
Alright, so I've edited around with the jGrowl.css config files, and have changed the default values of the "center" location to be placed below the "What's this?" button:

![untitled](https://cloud.githubusercontent.com/assets/8658239/8294439/510f85b8-1902-11e5-80af-0d87169def26.png)

If everyone agrees with this new location, I can make another pull request.

[2015-06-23 21:35] ehashman commented on #1595
A new concern for me is I'm noticing that the tooltip has some unexpected inner margins.  We should look into fixing that too!

I don't really have an opinion on the placement.

[2015-06-25 12:20] greeshmab commented on #1582
The database has unique name for each project,but the display name need not be unique(as per the code). The display name may be empty string. What if we make display_name and name as same?

[2015-06-26 01:36] ehashman commented on #1582
@greeshmab: That's a possibility, but I think it would make more sense to ensure that the `display_name` can't be empty. I *believe* `name` is used in URL generation, among other things, so it makes sense for them to be distinct fields.

[2015-06-27 17:49] Devon0831 opened #1673 "500 Server Error inside "Diffing your Changes" training mission"
When submitting my output to be checked, the website redirects me to a page titled "Error 500 (server  error)". I tried refreshing the page, submitting different text, and redoing the instructions, but the webpage always says "The file resulting from patching does not have the correct contents" (if only part of the output is pasted into the box) or "Error 500 (server error)" (if the entire output

[2015-06-28 19:40] reidab opened #1674 "Bug entries retained after deleting issue tracker"
Once upon a time, [Calagator](https://github.com/calgator/calagator) used Google Code for issue tracking. After we switched to using GitHub, I deleted the Google Code issue tracker from OpenHatch and expected the bugs imported from that source to also be removed. It appears that this never happened, so these old bugs can still be found at the bottom of [this search](http://openhatch.org/search/?q=

[2015-06-30 22:24] rZeton opened #1675 "No Advanced search by project category and/or technology/library"
Advanced search by project category and/or technology/library would be nice.

I am for example not very interested in webdev stuff, which seems to be most of items. Some advanced search or filtering options would be nice to have.

Showing only 10 by page is not enough. Should be able to customise it.

[2015-07-02 19:23] NPrescott opened #1676 "Display currently deployed version"
##### This is a feature request

It would be helpful, in troubleshooting and bug reporting, to display the version of OH that is deployed on the live site. There are times when  deployment lags recent commits/bug fixes and there is back-and-forth on whether a fix is not working, or simply not applied yet.

As an example, Atlassian products include something similar on page footers:
![atlassian-ver

[2015-07-04 07:02] jamessimas commented on #451
@ehashman,

I'll start working on this tomorrow and should have something in a day or two.

[2015-07-04 08:32] Deborah-Digges commented on #1654
@palbakulich @paulproteus is this still under discussion? If so, I'd love to meet you up on IRC. I'm still a little unclear as to the design :-)

[2015-07-04 20:38] jamessimas commented on #1595
@ehashman,

I've taken a crack at fixing the unexpected inner margins/wrapping you mentioned. It's in pull request #1678.

**Before commit:**
![image](https://cloud.githubusercontent.com/assets/12779236/8509319/fde3e754-2251-11e5-8ec6-31f73233db33.png)

**After commit:**
![image](https://cloud.githubusercontent.com/assets/12779236/8509317/e67aa4cc-2251-11e5-9980-b23bfc9a2cfd.png)

[2015-07-08 16:47] moijes12 commented on #881
@paulproteus @NPrescott
So how do we proceed from here?

[2015-07-08 17:00] NPrescott commented on #881
If someone wants to clean up the above warnings/errors (or decide that they are not in fact, issues) and create a `.jshintignore` file to include in the project, I think we might convince new contributors to run `jshint` on their own. I think this would be a step in the right direction towards cleaning up the JavaScript code in OH without breaking the Travis builds.

This is entirely the opinion o

[2015-07-08 17:08] paulproteus commented on #881
I personally still think we should fail/pass pull requests based on `jshint`, for files that we've opted into `jshint`. I think fail/pass is important because it saves reviewers time.

I do think we should make this as smooth as possible for contributors. I like the idea of someone fixing `jshint` issues for one or two or ten etc. files, and then opting those files in, and over time, we can add mo

[2015-07-08 19:18] NPrescott commented on #881
This sounds good to me. I don't mean to imply I have strong feelings on the subject, only that "turning on" jshint would start failing builds without a clear path forward for someone making even minor changes. If these things are fixed/ignored gradually, or before the switch then I don't see any reason not to.

My reservations stem(med) from experience with linters suggesting what are effectively,

[2015-07-08 20:46] treyhunner commented on #881
@paulproteus I do have opinions about this.

##### Linter workflow

Whatever linting tool you decide to use, I would make sure you:

1. Configure the linter settings for your project (e.g. configure `.jshintrc` to enforce the preferred style)
2. Configure each file for custom styles as needed (add a special comment to override rules for 1 file)
3. Do not ignore anything but vendored files. Saying

[2015-07-12 20:40] ehashman commented on #1673
This is a duplicate of #1547, which was marked as a dupe of #1399. Closing.

[2015-07-12 20:40] #1673 closed

[2015-07-12 20:45] ehashman commented on #1342
I'm not sure exactly what PRs fixed this, but as I recall @willingc made these work! Closing.

[2015-07-12 20:45] #1342 closed

[2015-07-12 20:47] ehashman commented on #1675
There are a few bugs filed currently re: advanced searching, such as #1438 and #1242.

Showing only 10 bugs by page is a duplicate of #1198.

Hence, I'm going to close this as a duplicate.

[2015-07-12 20:47] #1675 closed

[2015-07-12 20:51] ehashman commented on #451
#1677 closes this; see #1654 for the other mentioned requests.

[2015-07-12 20:51] #451 closed

[2015-07-12 20:56] ehashman commented on #1676
I really like this feature request/patch. Merged and closing!

[2015-07-12 20:56] #1676 closed

[2015-07-12 21:01] ehashman opened #1680 "Login page automatically redirects me to sign in with a Google Account"
Steps to reproduce:

1. Go to http://openhatch.org.
2. Begin to log in by clicking "log in / **sign up**" in the top nav bar.
3. The login page loads, and then immediately redirects me to a Google login. No bueno :(

[2015-07-14 03:32] saigkill opened #1681 "Openhatch Badge isn't available"
Actually it looks like the OH Badge on http://openhatch.org/account/settings/widget/ isn't available anymore.

[2015-07-21 16:01] sebadiaz opened #1682 "Need savannah as a bug tracker"
Savannah manage 3386 projects with more than 66000 users.

To recreate some dynamic, I think that we need more visibility as your site could done in the respect of the values of the Free Fundation Software and the license related.
https://savannah.gnu.org

GNA based on the same savane engine needs too
https://gna.org

[2015-07-22 18:44] staranjeet commented on #1680
I am not able to reproduce the error. Every time I click on login/sign up it redirects me to a page where all the login providers are listed.

[2015-07-22 18:47] david-a-wheeler opened #1683 "Fix website for https - redirect to "www." or allow https access without it."
Can you fix the openhatch.org website when accessing via https?  It doesn't like URLs that omit "www".

This URL fails to open:
https://openhatch.org/wiki/Easy_bugs_for_newcomers

This URL succeeds:
https://www.openhatch.org/wiki/Easy_bugs_for_newcomers

Please redirect all references to https://openhatch.org to the “www.” Version, or allow both.

The error messages on failures vary by browser. He

[2015-07-22 21:17] paulproteus commented on #1683
Hi @david-a-wheeler ! I've long respected your work, so it's an honor to see you here.

I can't reproduce the problem you are reporting, so I wonder if it was a transient error perhaps related to our use of CloudFlare.

Let me know if you can still reproduce it, or have hints on how I can reproduce it here. Thanks!

[2015-07-22 22:21] david-a-wheeler commented on #1683
On Wed, 22 Jul 2015 14:17:12 -0700, Asheesh Laroia <notifications@github.com> wrote:

Thanks!!!!

It's not transient; it still happens in my environment.  That said, my environment does a lot of filtering checks and if stuff "looks funny" the packets are just thrown away (!).  Problem is, I get no info on WHY there's a problem :-(.

One common reason is that the certificate's  CN is misleading.  E

[2015-07-22 22:25] paulproteus commented on #1683
I wonder if your IP address block reaches different CloudFlare servers than
I see, and that the CloudFlare servers you're seeing are broken. Totally
possible since they're a CDN. Hmm.​

I also wonder if CloudFlare is disconnecting the connection because it
thinks you're some kind of harmful bot? Hmm. I've changed the security
settings from "Low" to "Essentially Off".

[2015-07-22 22:46] paulproteus commented on #1680
For what it's worth, I think the login code stores a cookie that makes it
default to the last provider used.

[2015-07-23 11:27] lwm commented on #1683
Just pinging in here to say that hitting the following URL succeeded for me.

    https://openhatch.org/wiki/Easy_bugs_for_newcomers

Tested on an up to date Firefox 39.0.

[2015-07-30 15:48] ehashman commented on #1682
Thanks for your request, @sebadiaz! I'll file this for you against oh-bugimporters.

[2015-07-30 15:48] #1682 closed

[2015-07-30 15:52] ehashman commented on #1680
I'm encountering this bug on every system I'm trying to log in on, despite having never used Google Account to log in. I'm using Firefox (probably various different versions) on Linux. Just tried again, still there :\

[2015-07-30 15:56] ehashman commented on #1683
Both URLs are working for me, testing also on Firefox 39.0 (of the Ubuntu flavour).

[2015-08-02 11:07] waseem18 commented on #1681
I have used the widget today. I found it working.

[2015-08-02 21:49] #1595 closed

[2015-08-03 01:11] paulproteus commented on #1680
I can't reproduce this in a Chromium in incognito mode. @ehashman do you have a cookie called `openid_provider`? It seems in `mysite/static/openid/js/openid-jquery.js` we check this.

If we conclude that's what's going on for you, @ehashman , then we can figure out how to best solve it.

[2015-08-03 01:12] paulproteus commented on #1661
This error is seemingly gone now, so I'll close this issue.

[2015-08-03 01:12] #1661 closed

[2015-08-03 01:16] paulproteus commented on #1660
I just read the pip instructions there, and saw this:

[code]

It leaves me very confused. If pip install installed with sudo, how come the `pip --version` is in `/Users`?

I'm not super comfortable recommend those instructions unless someone can verify they actually work, and I don't have a Mac to test on, but if someone else can verify the instructions, then I'm fine switching to that I guess.

[2015-08-03 01:18] paulproteus commented on #1660
I may be mistaken -- pip2014 might still be actively-maintained: https://gitlab.com/glyph/pip2014/activity

[2015-08-03 01:20] paulproteus commented on #1660
pip2014 also defaults to using wheel, which pip upstream may or may not do by default.

I have some brand loyalty to pip2014 (I _think_ I'm the person who came up with the name, even) but I can live with changing the recommendation if we choose a different thing that's equally good or better. I do get that this is subjective; I'm totally willing to hear subjective reasons why the other one is bett

[2015-08-05 03:09] waseem18 commented on #1680
The problem is with the cookie `openid_provider`. When a user logins to OH, a cookie `openid_provider` is being created which redirects the future users to the same provider which the initial user used to log in.

@ehashman `I'm encountering this bug on every system I'm trying to log in on` . That's because someone might have logged in through that system earlier using Google which created a cooki

[2015-08-06 15:59] sarbazx opened #1685 "curl: Remote file name has no length!"
Hi, in mission diffing individual files i having error when downloading files by curl in terminal on linux mint 17. it showing curl: Remote file name has no length! attached screen shot.
![error](https://cloud.githubusercontent.com/assets/5629946/9116494/37d1a46a-3c97-11e5-9fa6-b2fdffbf413b.png)

[2015-08-07 13:56] Deborah-Digges commented on #1685
The command you used seems to be incorrect.
Copy the following:

[code]

Note it's

curl *-0(zero)*  [url of remote file] *-o(small O)* output-file.

The *zero* tells curl to use http1.0
and the small oh is used to save the file to an output file.

[2015-08-07 13:59] #1685 closed

[2015-08-10 18:25] willingc commented on #1683
I've tested https://openhatch.org as well as https://openhatch.org/wiki/Easy_bugs_for_newcomers on Chrome as well as running another "https://www.ssllabs.com/ssltest/" (which as expected based on @david-a-wheeler's earlier results).

I'm going to close this issue. @david-a-wheeler, if your browser is still complaining about 'www', please feel free to reopen this issue. Thanks for reporting this :p

[2015-08-10 18:25] #1683 closed

[2015-08-10 18:37] willingc commented on #1667
@palbakulich Thanks for the suggestion. Mobile friendly would be great to have in the future. We're doing some strategic technical planning if you have ideas that you would like to share http://lists.openhatch.org/pipermail/devel/2015-August/003841.html

Mobile is important going forward. I'm tagging this as deferred pending results of the strategic planning.

[2015-08-11 04:19] willingc commented on #1399
Closing this issue since all seems resolved after the latest merge.

[2015-08-11 04:19] #1399 closed

[2015-08-11 04:24] willingc commented on #1654
I am going to retag this issue as deferred since it is a feature enhancement. If someone or several want to claim the issue (since there was interest), please let me know and we can assign the issue and determine what's needed. Alternatively, this can be addressed after the OpenHatch team moves forward with the Strategic Technical Planning for 2015-16.

[2015-08-11 04:27] willingc commented on #881
Let's move the status of this to deferred pending decisions from the Strategic Technical Planning work for 2015-16 http://lists.openhatch.org/pipermail/devel/2015-August/003841.html

Thanks everyone for your patience :penguin:

[2015-08-11 04:43] willingc commented on #1601
Closing this issue. Any new test failures for windows should be filed as a new issue :penguin:

[2015-08-11 04:43] #1601 closed

[2015-08-11 04:44] willingc commented on #1380
Closing this issue #1601

[2015-08-11 04:44] #1380 closed

[2015-08-11 04:46] willingc commented on #1607
Changing status to deferred pending Strategic Technical planning decisions http://lists.openhatch.org/pipermail/devel/2015-August/003841.html

[2015-08-11 04:49] willingc commented on #1606
Changing status to deferred pending Strategic Technical planning decisions http://lists.openhatch.org/pipermail/devel/2015-August/003841.html :penguin:

[2015-08-11 04:56] willingc commented on #1437
@ehashman Should this be open or closed? :confused:

[2015-08-11 05:20] paulproteus commented on #1590
Hi @jwm .

I noticed this issue has gone cold for a while.

I also wonder if we are trying too hard. Is there a way to use MySQL on Heroku? Can we get by with `python manage.py dumpdata` then `python manage.py loaddata`?

If you're too busy with other things, that's fine, but I don't think anyone else is tackling this so if you feel like looking into it again over the next N (1-8 weeks) that'd be

[2015-08-11 19:39] ehashman commented on #1437
I just tested this again and it seems to be fixed on Windows, Firefox 39.0.3, so I'll mark it closed. Not sure if a recent PR fixed it.

[2015-08-11 19:39] #1437 closed

[2015-08-11 19:42] ehashman commented on #1685
Thanks for your excellent response here, @Deborah-Digges :D

[2015-08-11 19:44] ehashman commented on #1680
I'd agree that it's probably a cookie problem---just tested on my cleanly installed system and I'm unable to reproduce.

I think we should try for a more user-friendly fix than "remove the cookie" because that's fine for me but it might not be for a newbie.

[2015-08-11 19:49] ehashman commented on #1595
Thanks for your fix, @jamessimas! Marking this as resolved.

[2015-08-11 20:00] willingc opened #1687 "Add codecov support to repo"
The codecov service gives quite a bit of guidance and detail for new contributors. I believe we should add this to the repo.

See PR #1686

[2015-08-11 22:09] paulproteus commented on #1687
+1​

[2015-08-11 22:19] #1687 closed

[2015-08-12 04:14] Deborah-Digges commented on #1654
@willingc :+1: That definitely sounds good. let's add it to the Planning and see where it figures in our priorities

[2015-08-12 18:02] paulproteus commented on #1680
The simplest fix might be to patch the JS code to not look at this cookie,
fwiw. People can probably remember what account type they had.

[2015-08-14 14:03] waseem18 commented on #1680
@paulproteus Tried to fix the issue by removing the cookie (openid_provider) and cookie related operations (readCookie, setCookie). PR  - #1690

[2015-08-15 23:00] jwm commented on #1590
Hey @paulproteus, I had gotten `pgloader` working and most of the other pieces ready; sorry, this kind of got lost in everything I had to catch up with post-PyCon.

I set up a sample deployment at http://stormy-peak-6021.herokuapp.com/ (running code from https://github.com/jwm/oh-mainline/tree/jwm/heroku). I'd love it if someone could take it for a test drive and give the code changes a quick eyeb

[2015-08-17 12:34] paulproteus commented on #1590
(I'm replying to an offline copy of this github thread in my email, so I
might be a few days out of sync)

Just to reply to the money part of this:

OpenHatch Foundation Incorporated is fine with paying a few more dollars
per month (say, up to $50/mo, without that being a big deal at all) for the
sites running on Heroku rather than our own Linode. If it's more than that,
we can think harder, but a

[2015-08-17 12:34] paulproteus commented on #1590
Also, a note about my scheduled this week:

I'm at this year's Debian conference for the coming week, so won't be able
to do very much on this. I massively support other people doing things and
then telling me, "Asheesh, do the following whenever you can, we've tested
that it will result in good things." I'll be available on+after Mon Aug 24
if you need more bandwidth from me.

If you do a databas

[2015-08-18 04:15] frewsxcv commented on #1667
In case it isn't already known, the top menu is very unreadable on mobile browsers right now:

![tmp_4893-screenshot_2015-08-18-00-12-38150687368](https://cloud.githubusercontent.com/assets/416575/9322223/1f638a7e-453e-11e5-8aeb-e7f9193af3c6.png)
![tmp_4893-screenshot_2015-08-18-00-12-30340024482](https://cloud.githubusercontent.com/assets/416575/9322224/23561782-453e-11e5-8a76-0bd2989d98cb.png)

[2015-08-23 16:12] jwm commented on #1590
I crossed off the remaining TODOs today and updated the checklist in my previous comment. I also opened https://github.com/openhatch/oh-mainline/pull/1693. Everything's looking good for the cut.

@paulproteus when you have a few minutes, would you create the Heroku app and give me access to it? Something like this should get us going with the dyno and Postgres addon we need:

[code]

[2015-08-25 22:26] jwm commented on #1590
@paulproteus Also, if you would send me our CloudFlare creds in some secure way (PGP-encrypted mail? I'm on the major keyservers as well as Keybase), I'd appreciate it.

[2015-08-25 23:11] imported-from-roundup commented on #1590
I believe I've done the Heroku setup stuff:

➜  oh-mainline git:(master) ✗ heroku create openhatch-production
Creating openhatch-production... done, stack is cedar-14
https://openhatch-production.herokuapp.com/ |
https://git.heroku.com/openhatch-production.git
Git remote heroku added
WARNING: Toolbelt v3.41.4 update available.
➜  oh-mainline git:(master) ✗ heroku sharing add jwm@horde.net
 !    In

[2015-08-26 00:50] willingc commented on #1590
@jwm Nice!

[2015-09-07 19:18] IntuitiveLeap opened #1694 "curl: Remote file name has no length!"
OS: win7 ult 64 bit
Browser: Chrome Version 45.0.2454.85 m
Command Prompt being used: Git-Bash

On the Mission page:
https://openhatch.org/missions/diffpatch/single_diff
the instructions ask the user to use the following commands (copied directly from the webpage)

curl -O https://openhatch.org/missions/diffpatch/diffsingle/nutty-pancake.txt
curl -O https://openhatch.org/missions/diffpatch/diffsin

[2015-09-07 19:24] ehashman commented on #1694
Related to #1685. Looks like we need an update to the documentation.

[2015-09-07 19:43] IntuitiveLeap commented on #1316
I noted that the wget command is not available for users of the recommended git-bash install for windows. Maybe swapping the wget with curl commands would be more sustem independant, as curl is usable by the windows git-bash installed with the defaults.

[2015-09-13 07:07] nirmeshkhandelwal commented on #1694
Hi. I would like to work on this. I am a new user trying to make my first contribution in open source. Please let me know how should I proceed with this.

[2015-09-13 07:33] Deborah-Digges commented on #1694
Hi @nirmeshkhandelwal . I have opened a PR for this:https://github.com/openhatch/oh-mainline/pull/1695. Do have a look

[2015-09-17 02:15] ehashman commented on #1694
@nirmeshkhandelwal, looks like @Deborah-Digges got to it before you. I am going to call this resolved.

However, as a follow-up, would it be possible to update the documentation that uses wget to use curl instead? I've seen this request a number of times now (see suggestion on #1316 but I think I've also seen it elsewhere). #1316 is specific to the tar mission but perhaps a PR could be more expans

[2015-09-17 02:15] #1694 closed

[2015-09-19 13:52] jwm commented on #1590
@paulproteus I just realized that Cloudflare wants you to log in with an e-mail address and password, but I don't know what e-mail address OpenHatch uses for its Cloudflare account.

Also, I think this is ready to do the actual cut. What kind of advance notice should I give (to openhatch-devel@ or #openhatch?), and are there any particular days or times where the site shouldn't be down for an hour

[2015-09-20 17:15] willingc opened #1698 "Update PIL requirement to pillow"
PIL is no longer actively maintained. Pillow is a fork of PIL that is actively maintained and implements the PIL API.

Recommend updating ``requirements.txt`` to ``pillow``.

[2015-09-20 17:47] willingc commented on #1681
I'm closing this issue based on contributor testing. Please feel free to reopen if there is still an issue with the badge.

[2015-09-20 17:47] #1681 closed

[2015-09-20 22:55] paulproteus commented on #1590
Hi!

I think asheesh@openhatch.org
<javascript:_e(%7B%7D,'cvml','asheesh@openhatch.org');> should work for
CloudFlare username.

I would say, give ~24 hours of notice to devel@lists.openhatch.org and
maybe Tweet something that we can RT as @openhatch and then pick any 2 hour
window that works for you.

[2015-09-25 02:37] miumok98 opened #1700 "Oh"

[2015-09-25 04:45] #1700 closed

[2015-09-27 07:40] x-a-n-a-x commented on #1240
I second this idea : please add GitHub as a login provider.

After all, many open-source projects are hosted on Github, many open-source developers use github daily... it makes sense to support it. I am almost surprised it's not already currently implemented.

[2015-09-27 22:14] jwm commented on #1590
Ok, I think the cutover to Heroku went fairly well, though it took a bit longer than I'd hoped. The site should be up, the remote command execution for git/svn repo setup works, all the database data is there, etc.

@paulproteus: a few questions, since I realized doing the cut that the Apache configuration on linode.openhatch.org is pretty sprawling and has a bunch of what looks like cruft in it:

[2015-09-27 23:40] #1698 closed

[2015-09-28 01:45] ehashman opened #1701 "Broken pages from Heroku migration"
Paging @jwm! We had a report that the wiki was down, and I'm assuming this is related to the site migration. Here's a list of pages I've found 404-ing:

https://openhatch.org/wiki (including https://openhatch.org/wiki/Privacy_policy)
https://openhatch.org/blog
https://openhatch.org/about
https://openhatch.org/contact

That's all for now but there might be more! Wiki and blog are probably pretty cr

[2015-09-28 01:48] willingc opened #1702 "Link on home page for bug tracker needs update"
The link on OpenHatch's home page for "Bug Tracker" is giving a 404 error. The correct link should link to the oh-mainline GitHub Issues https://github.com/openhatch/oh-mainline/issues

Message re: post migration issues #1590

[2015-09-28 01:49] willingc commented on #1701
@ehashman Yep. @jwm did a great job on the migration and left a message in the PR (I think) re: the wiki and the links.

[2015-09-28 02:05] willingc commented on #1590
@jwm Nice job documenting the migration. I created a milestone for Post Migration issues. I will wait to hear from @paulproteus and @ehashman if they wish to migrate your comments over as individual issues.

The website seems faster to load now once you get past the initial load :D

[2015-09-28 02:21] ehashman commented on #1590
I aggregated some of the broken link reports we were getting in #1701, looks like the wiki bit was already known now that I'm reading @jwm's comment above. Cheers!

[2015-09-28 15:01] jwm commented on #1701
I can look more at the wiki and blog links, but probably not until tonight or tomorrow night. In the meantime, it would really help if @paulproteus could chime in on #1590, since it's difficult to make heads or tails of what the nginx+Apache configuration is doing on linode.openhatch.org.

[2015-09-29 00:51] jwm commented on #1701
I got the wiki and blog proxying working again. It used to be that the web server (nginx and/or Apache) did this proxying for /wiki and /blog, so I implemented the same functionality in the Django app to fix this.

[2015-09-29 00:51] #1701 closed

[2015-09-29 01:03] jwm commented on #1590
Fixed the wiki and blog proxying.

[2015-09-29 01:03] jwm commented on #1590
@paulproteus looks like the openhatch-production app is running on a free dyno, and it's running out of memory. can you 'heroku dyno:type web=standard-2x' so we get some more memory?

[2015-09-29 01:03] willingc commented on #1702
This issue is suitable for a new contributor. The link would be edited in https://github.com/openhatch/oh-mainline/blob/master/mysite/base/templates/base/base.html file.

[2015-09-29 01:29] #1702 closed

[2015-09-29 01:30] jwm commented on #1702
Was in the process of working on this anyway, since I was deciphering the linode.openhatch.org Apache and nginx configurations. :-)

[2015-09-29 01:37] willingc commented on #1702
@jwm Thanks for the fix. :penguin:

[2015-09-29 19:50] willingc opened #1706 "Verify that python.org website bugtracker is updating properly"
I updated the project settings via the OpenHatch user interface today. The pythondotorg website is on GitHub. I have set easy issues to `frontend` since there were no easypickings issues open on the pythondotorg repo (https://github.com/python/pythondotorg/labels). The docs issues are set to `content`.

I will double check tomorrow if the changes propagated. @ehashman if you have time to check too

[2015-09-30 00:00] jwm opened #1707 "Site does not send e-mail on 500-level errors"
The site's 500 error page says it's sent us an e-mail, but I haven't received anything to monitoring-private@lists.openhatch.org. That list's archives end in May 2013, so maybe something is wrong with it?

Sending e-mail from the site (using an ipython shell and django's `send_mail` on the Heroku dyno) successfully sends mail, so I don't think the problem is with the sending end.

[2015-09-30 00:05] jwm opened #1708 "Wiki and forum login process doesn't log you in"
When I click the 'Log in' link at the top right of wiki pages, I get sent through the OpenHatch OAuth process, but when I'm redirected back to the page I tried to log in from, I'm not logged in.

The same thing happens with the 'Sign in or register' link in the forum (forum.openhatch.org), but without the OAuth process.

I'm not sure if this is related to the recent move to Heroku, since I haven't

[2015-09-30 00:06] paulproteus commented on #1707
Maybe now is a good time to stop using monitoring-private for errors, and
start using e.g. https://www.getsentry.com/pricing/ ? Maybe I can convince
them to give us a free account because they love us or something.

If we want to go down that road, I can email them and ask while you set us
up with the free trial?

[2015-09-30 00:07] paulproteus commented on #1708
These work via custom machinery that requires the wiki and the forum to be
on the same domain, or something like that. +1 to ditching the forum; we
just haven't yet. The wiki is pretty actively used though.

[2015-09-30 00:19] jwm opened #1709 "svn training mission doesn't work"
When I deployed the production site to Heroku and went through a svn training mission, I noticed that http://openhatch.org/missions/svn/checkout wasn't displaying the URL to check out the user's repository, or the filename containing the secret word:

![screen shot 2015-09-29 at 8 14 12 pm](https://cloud.githubusercontent.com/assets/37176/10181478/af174506-66e6-11e5-8039-28973a10db26.png)

This is

[2015-09-30 00:56] jwm commented on #1590
I spent a big chunk of time poring over the nginx and Apache configurations on linode.openhatch.org. I took out large sections of the nginx configuration that aren't used any more or for sites that are now hosted elsewhere, leaving {git-mission,wiki,roundup-archive}.openhatch.org and openhatch.com. *.openhatch.org gets passed to Apache, and I wound up leaving the Apache configuration mostly alone

[2015-09-30 00:58] jwm commented on #1707
Sentry seems nice, but I haven't used it extensively. I've about reached the amount of time I have for OpenHatch-y things right now (I've spent big chunks of time on the move to Heroku in the last couple of weeks), so maybe at some point in the future, or maybe someone else can look into this?

[2015-09-30 01:03] willingc commented on #1709
@jwm Yup the SVN mission has some known issues. I think that it may be time to scale back time spent on that mission and simplify it more like the shell or pip missions. I am +1 to refactoring the svn missions so that we don't have to configure multiple servers and put less emphasis on it.

[2015-09-30 01:04] willingc commented on #1250
Closing this issue. Refer to #1709 for subversion mission information.

[2015-09-30 01:04] #1250 closed

[2015-09-30 01:05] willingc commented on #1085
Closing this issue. Subversion mission will be addressed in #1709

[2015-09-30 01:05] #1085 closed

[2015-09-30 01:06] willingc commented on #1047
Closing. See #1709.

[2015-09-30 01:06] #1047 closed

[2015-09-30 01:09] willingc commented on #960
Closing. See #1709 re: svn mission.

[2015-09-30 01:09] #960 closed

[2015-09-30 01:54] willingc opened #1711 "Clean up tests post-migration"
Now that we are deployed on Heroku and using Postgres, I'm going to do some cleanup of skipped tests and tests marked expectedFailure.

Working through the Django apps modules:
- [ ] Missions
- [ ] Account
- [ ] Base
- [ ] Customs
- [ ] Projects
- [ ] Profile
- [ ] Search

[2015-09-30 01:55] paulproteus commented on #1707
Cool. I can definitely look into this starting on Thursday. I'm a work
crunch time right now but the thing gets launched on Thursday so it had
better be calmer. (-:

[2015-09-30 22:32] ehashman commented on #1706
Just took a look at our copy of their bugs (https://openhatch.org/search/?q=&project=Python.org+Website) and it looks like that hasn't been updated in 4 months. No bitesize ones showing up that I can see.

[2015-09-30 22:35] ehashman commented on #1709
+1 to a refactor of this mission, which has been super problematic for nitpicky bugs in my experience.

[2015-09-30 22:36] ehashman commented on #1707
This made me smile :)

[2015-10-01 00:30] willingc commented on #1706
@ehashman Is there an easy way to kickstart the github bug tracker to update the info? Perhaps give it lots of :cookie: :cake: :ice_cream:

[2015-10-01 04:05] ehashman commented on #1706
Haha! It should be running every night. However, according to http://inside.openhatch.org/crawl-logs/ we haven't had a successful scrape since the 27th. Will file a bug.

[2015-10-01 04:07] ehashman opened #1713 "Scraping is currently broken"
According to http://inside.openhatch.org/crawl-logs/ we haven't had a successful bug scrape since Sep. 27. As for why: according to the [scrape logs](http://inside.openhatch.org/crawl-logs/scrapy.2015-09-28.CoNX.log), django.core.exceptions.ImproperlyConfigured: The SECRET_KEY setting must not be empty.

@jwm is this Heroku migration-related? @paulproteus would you know where to start in debugging

[2015-10-01 07:36] willingc commented on #1711
- [ ] Customs - refactor ohloh.py code and tests

[2015-10-01 18:19] igorsteinmacher commented on #1556
Checked on Iceweasel (Firefox) Debian 8.1, the behaviour is the same as the one reported in this issue.
To make the UI in consonance with that on https://openhatch.org/missions/git/checkout (see screenshot below, we need to change the style of the input element, easily fixing the issue.

![checkoutgit](https://cloud.githubusercontent.com/assets/2953768/10229628/8818ff02-684f-11e5-8e1a-5e3986156cdf

[2015-10-01 23:35] willingc opened #1716 "Add links to 18F guides"
There are some wonderful guides from 18F available online. Add tips and links to some of these great resources.

[2015-10-01 23:39] willingc opened #1717 "Add link in README to docs directory"
We mention the docs directory in our README. It would be great to have `docs` link to https://github.com/openhatch/oh-mainline/tree/master/docs

[2015-10-01 23:40] willingc commented on #1706
@ehashman Thanks for looking into it and filing #1713

[2015-10-02 01:41] #1717 closed

[2015-10-03 17:12] jwm commented on #1713
@ehashman I updated `local_settings.py` appropriately on linode2, so this should be successful tonight. I'll check on it in the morning.

[2015-10-03 22:21] willingc commented on #1711
- [ ] Remove unused  static method ``key_for_model(cls)`` from TimeStamp class.

[2015-10-03 22:30] willingc commented on #1711
- [ ] Remove unused ``mysite/missions/git/models.py``

[2015-10-04 00:01] willingc commented on #1711
- [ ] Add profile tests for increase coverage

[2015-10-04 14:14] jwm commented on #1713
Looks like `SECRET_KEY` is set correctly on linode2 now, but the crawl is failing because the tracker list it retrieves from https://openhatch.org/+api/v1/customs/tracker_model/just_stale=yes&format=yaml&limit=500 is exceeding Heroku's allowed request time (https://devcenter.heroku.com/articles/request-timeout).

Retrieving only 50 trackers (instead of 500) still takes ~20 seconds, so we might nee

[2015-10-06 15:42] jpellman commented on #1708
+1 - I'm no longer able to log into the Wiki using my Google credentials.

[2015-10-07 12:23] willingc opened #1730 "Add Read the Docs badge to the README.md"
We currently have badges to indicate travis builds, coveralls, and codecov. It would be nice to add the badge for Read the Docs.

If you go to the oh-mainline project page on Read the Docs and click on the badge there, it should give you a pop up with code to use for the README.md file.

[2015-10-08 03:16] #1730 closed

[2015-10-11 04:34] maheshbabu2804 opened #1734 "The problem in creating the database"
The project has been cloned and wanted to build it . The command of "python manage.py syncdb --migrate --noinput" is used and the output of warnings or errors are displayed .

Here is the output of the command :
Migrating...
UnknownMigration: Migration 'httpproxy:0001_initial' probably doesn't exist.
Traceback (most recent call last):

    migration = __import__(full_name, {}, {}, ['Migration'])

[2015-10-12 16:36] Deborah-Digges opened #1736 "ClaBot For Commenting on New PRs"
I was thinking that we could use [this](https://github.com/clabot/clabot) super awesome bot, to automatically comment on PRs by new users.
 What do you think?

[2015-10-14 12:44] djrollins commented on #1734
I have also run into this issue. It happens consistently on both OSX Yosemite and Fedora 22.

I rolled back to commit 1814967584c8a50b58e79590eeb8eb463baff693 which is the parent of the commit where a lot of the django-http changes were made (51ca2717247cffbf418a26f332b54dbcd82ec462) and I was able to migrate the database just fine.

So I can only assume that a bug has crept in with that rather la

[2015-10-14 18:49] anarang commented on #1716
@willingc can you elaborate on this issue. thanks.

[2015-10-14 19:34] willingc commented on #1716
@anarang Here's the 18f rep. It has links to the guide. https://github.com/18F/open-source-guide

[2015-10-14 20:40] mstrout opened #1737 "git training mission, creating a patch, 500 error"
We get an Error 500 (server error) when we are on the "Creating a Patch" page after submitting the output from creating a patch.  All four of us got the same error.  We are using the following web browsers: Edge in Windows 10, Chrome in Windows 7, and Safari for Mac OS X 10.10.5.
We are at OpenSource Day at GHC.  Tiffany Brooks, Rieko Tsuji, Elsa Gonzalez-Aguilar, and Michelle Strout.

[2015-10-14 20:50] tbrooks530 commented on #1737
Thank you for the shout out!

[2015-10-15 14:36] rodgzilla commented on #1737
I experience the same problem.

I am using chrome Version 42.0.2311.152 (64-bit) on Ubuntu 14.04.

[2015-10-16 21:27] ehashman commented on #1736
Sounds like a good idea to me, @Deborah-Digges!

[2015-10-16 21:30] ehashman commented on #1734
Hi @djrollins, thanks for looking into that. Would it be possible for you to do a git-bisect to determine the exact commit that broke the migrations? Then I can look into fixing this. Here's some documentation on git-bisect: https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git#Binary-Search

Alternatively, I can possibly look into it if you don't want to.

[2015-10-16 21:33] ehashman commented on #1737
This may be related to the recent Heroku migration. I don't think I have access to investigate. @jwm?

[2015-10-18 10:48] djrollins commented on #1734
Hey @ehashman, sorry for the delayed reply. I can take a look into this over the next few days.

[2015-10-18 15:30] djrollins commented on #1734
I ran a git-bisect and can confirm the commit that introduced the bug was 51ca2717247cffbf418a26f332b54dbcd82ec462.

I'll take a look and see if I can reason about what may be going wrong.

[2015-10-18 19:44] Naruto0 commented on #1737
Firefox 40.0.3, Xubuntu 14.04, trying to reach https://openhatch.org/missions/git/diff/submit#gitdiff-form, same with me, 500 internal server error.

[2015-10-18 23:01] jwm commented on #1737
Yup, this is a known bug post-Heroku. The commands in https://github.com/openhatch/oh-mainline/blob/master/mysite/missions/git/view_helpers.py#L72 need to execute on linode.openhatch.org using the REMOTE_REPO_ACCESS_SPEC, like the others in that file.

[2015-10-21 00:36] pdurbin commented on #1737
@jwm how easy is it to test a fix from a developer's laptop? Is there some way to mock `if settings.REMOTE_REPO_SETUP_ACCESS_SPEC`? Apologies if this is a stupid question. I guess another way to ask this is if there's a way to write a failing test for this bug. /cc @paulproteus @ehashman @willingc

[2015-10-22 20:57] ehashman commented on #1734
Fantastic! And @djrollins this makes total sense; there were some migrations introduced in that patch in the vendor directory and match @maheshbabu2804's error message above.

So now I think this is in @jwm's ballpark. He added the vendor packages that caused the breakage. I'm surprised this didn't affect production! Any comments?

I'm also going to bump up the urgency of this bug since it is prev

[2015-10-26 18:01] SanketDG commented on #1338
This can be closed?

[2015-10-26 21:06] felipevolpone commented on #1556
With this commit https://github.com/igorsteinmacher/oh-mainline/commit/3248c22d091727704b23177cad71c8af1d3b94f6 I think this issue can be closed so. What do you think?

[2015-10-26 21:16] felipevolpone opened #1744 "Configure Docker"
Hey guys, I was thinking about create a Docker image to the project. This can be a nice way to have the project enviroment in a easily way. What do you think?

[2015-10-26 23:12] andrefreitas commented on #1744
Docker is actually the simplest way of delivering applications in a production or development environment. So yes, it is a good idea :)

I will send a pull request with the Dockerfile soon.

[2015-10-26 23:15] felipevolpone commented on #1744
@andrefreitas Are you sure? I can do this too, so tell me if you're too busy to do it.

[2015-10-26 23:17] paulproteus commented on #1744
Hi all,

Thanks for your enthusiasm here!

For what it's worth, the codebase bundles all its dependencies, and works
on Mac OS & Windows, so it's not clear to me how Docker would help. But I'm
curious to hear details.

Thanks!

Asheesh.

[2015-10-26 23:32] andrefreitas commented on #1744
@paulproteus the key advantages about having a Docker container are:
- [1] You don't need to install the Python Packages dependencies everytime you deploy the application, since in the Dockerfile they are resolved in the build process. You save time and, the cost of deploying, is just starting the container;
- [2] You just need to make sure the Host only have Docker installed;
- [3] You can make t

[2015-10-26 23:59] andrefreitas commented on #1744
@paulproteus can you describe the steps to setup the environment and have a basic functional version of openhatch? I am doing:

[code]

And getting the error:
[code]

[2015-10-27 00:03] felipevolpone commented on #1744
@andrefreitas you can check this issue https://github.com/openhatch/oh-mainline/issues/1734 to solve this problem.

You have to checkout to the last safety commit, run the command and checkout to master.

[2015-10-27 00:30] jwm commented on #1737
@pdurbin sorry it's been a while, we've been shipping something big at work and it's been taking up a lot of time, and I'm going to be traveling for the next week or so.

I'm happy to have someone else tackle this - if that person is you, you'll need to update the `commit_if_ok()` method I linked to earlier to execute its commands remotely - see what the `exists()` method does in that file for exa

[2015-10-27 00:34] jwm commented on #1734
Production database migrations worked fine, even when I accidentally ran them on a local sqlite database, so I'm not sure what's going on here. I don't think I'll have much time for this in the next couple of weeks, so I'm more than happy if someone wants to tackle this.

One option might be removing the httpproxy module, but that would break the proxying for the Wiki (i.e., openhatch.org/wiki/ wo

[2015-10-27 00:42] andrefreitas commented on #1744
Hi, I just sent the PR #1745. Thanks for your help @felipevolpone  :)

[2015-10-27 01:02] paulproteus commented on #1744
Thanks for replying!

you deploy the application, since in the Dockerfile they are resolved in
the build process. You save time and, the cost of deploying, is just
starting the container;

We already have this; have you looked at our manage.py?

For us, we don't even need Docker. You need Python installed. See
openhatch.readthedocs.org.

booting so you don't need to configure a service in Systemd,

[2015-10-27 11:49] SanketDG opened #1746 "Profiles pictures of people do not appear"
In https://openhatch.org/, none of the profile pictures seem to appear in the "Recent site activity"

Screenshot:
![image](https://cloud.githubusercontent.com/assets/8980971/10757077/5eb6b5bc-7cce-11e5-949a-e140c02ab0db.png)

It also does not appear on the profile page, for example, https://openhatch.org/people/lukasz/

<hr>

Also, I see the css files in this project are are written in less.
I hav

[2015-10-27 12:00] felipevolpone commented on #1744
@paulproteus @andrefreitas Actually when I proposed create a Docker configuration it was just to make easier to configure the enviroment to developers that want contribute to the project. In my case, I tried to run the pip install and I got a conflict in the version of psycopg, because I already have an another version of it in my machine.

Anyway, if the maintainers don't see any value in this is

[2015-10-27 16:39] ehashman commented on #1744
Hi @felipevolpone, I am confused as to why you are running pip install---can you please walk me through the steps of how you are trying to develop the site? [Here's our installation documentation](http://openhatch.readthedocs.org/en/latest/getting_started/installation.html) for reference. All of oh-mainline's dependencies are bundled in the source code and you do not need pip to install dependenci

[2015-10-27 16:39] #1744 closed

[2015-10-27 16:45] ehashman commented on #1746
Hey @SanketDG,

I totally agree! I noticed this bug myself, and I suspect it is database-migration related.

There has been some discussion about removing the people/projects/profiles section of the site, so I don't know how high-priority this is.

In regards to the less issue, please file a separate issue :)

[2015-10-27 16:48] ehashman commented on #1556
This is outstanding in #1715 which has not yet been merged, so not quite yet :) I think that's on the review backlog.

[2015-10-27 16:50] #1556 closed

[2015-10-27 16:53] felipevolpone commented on #1744
Hey @ehashman, You're totally right, I ran pip install -r requirements.txt 'cause I saw the requirements file and didn't followed the instructions in the documentation. Sorry for this.

[2015-10-27 17:08] felipevolpone commented on #1582
This is already done here: https://github.com/openhatch/oh-mainline/blob/d5b90d73e6e95034cc9106d11b46554fc99837c5/mysite/static/js/importer.js#L709.
Can this issue be closed or move it to needs-review?

[2015-10-27 17:12] Deborah-Digges commented on #1582
You're right @felipevolpone !
This PR closes it :https://github.com/openhatch/oh-mainline/pull/1720. Thanks for spotting this :)

[2015-10-27 17:12] #1582 closed

[2015-10-27 17:27] trishnaguha commented on #1746
@SanketDG This might be helpful to run the local instance http://openhatch.readthedocs.org/en/latest/getting_started/installation.html :)

[2015-10-27 18:07] SanketDG commented on #1746
@trishnaguha Thanks!

[2015-10-28 04:54] TridevGuha commented on #1706
I would like to check https://github.com/python/pythondotorg/labels but as a begginner i have no idea where to and how to start with

[2015-10-28 11:02] donnemartin commented on #1582
:+1:

[2015-10-28 23:44] willingc commented on #1736
@Deborah-Digges This looks like a great addition :D

[2015-10-29 00:09] li3n3 opened #1749 "Make Challenge feedback visible without scrolling in shell mission"
When I did the challenge at the end of https://openhatch.org/missions/shell/ls (though I think this is true of all the mission pages with multiple-choice challenges), I originally thought something was wrong, since the page refreshes upon submission and only gives feedback at the bottom of the page (so I didn’t initially see it).

Would be awesome if
* feedback were at the top of the page, or
* fo

[2015-10-29 00:10] li3n3 commented on #1749
This totally falls under the feature label; I just can't add it myself!

[2015-10-29 00:13] li3n3 opened #1750 "Wish: provide alt text for checkbox bullet point in training missions"
It’d be neat if the checkbox in training missions (i.e. the <li> item that shows whether or not you’ve completed a task) had some alt text!

I haven't done as much accessibility work as I'd like to, but my hunch is that this might help visually impaired users who use screen readers. (Please do correct me if I'm wrong.)

[2015-10-29 00:26] li3n3 opened #1751 "Wish: faster method for reporting small typos/suggesting small changes"
Would be rad to make it easy to report a small typo, or suggest a small change, from the page (button? form? something else?).

I first ran into this on the Offbeat Empire blogs (for instance, this post: http://offbeathome.com/2015/10/weird-name, after the end of the post contents). (Maybe that's the only place I've seen it!) Just a little button at the bottom:
<img width="126" alt="button with la

[2015-10-29 00:29] li3n3 opened #1752 "Bug: `ls --help` doesn't work in all bash shells"
https://openhatch.org/missions/shell/ls states “There are many other options available. For more options, type ls --help in your shell and you'll get a list of available options along with a short description for each option. (if you are on zsh type man ls)”.

I’m using bash on OS X, and while `ls --help` doesn’t work, `man ls` works just fine.

[2015-10-29 00:29] li3n3 opened #1753 "Bug: missing step in git mission?"
In the git missions, https://openhatch.org/missions/git/checkout says "For this mission, we will use the git repository you created in step one." I can't find anywhere that this (i.e. the git repository creation) actually happens, though.

[2015-10-29 00:33] li3n3 opened #1754 "Typos/clarity suggestions for training missions!"
* [x] At the bottom of https://openhatch.org/missions/shell/file-and-directory, “Visit here to know about what are paths and what is the difference between absolute and relative paths” could be a little clearer. Maybe “Click here to learn about paths and the difference between absolute and relative paths.”
* [x] https://openhatch.org/missions/shell/ls “owner of the file and it's permission” => “ow

[2015-10-29 15:07] SanketDG commented on #748
@ehashman @paulproteus I am willing to work on this. I played a little with `jquery.ui.dialog` and this is what I got:

http://imgur.com/lOj5XHa

If you can I can send a PR for further discussion.

[2015-10-29 21:08] ehashman commented on #1752
Does `man ls` work on the Windows git bash shell (or cygwin shell)? I guess that would be my compatibility concern.

[2015-10-29 21:11] ehashman commented on #1753
Clicking on this link, I get the message

[code]

Going to that page, the giant button at the bottom says "Create your repository and start the missions". Is there a way to make this clearer?

[2015-10-29 21:13] ehashman commented on #1754
Hi @li3n3!

While I don't have time to respond directly to all these issues right now, I just wanted to personally thank you for all the great issues you've filed against this repository. I am going through and triaging them now. Also, if you like, feel free to submit a pull request for any of them. If you need help, me and a number of others are available on IRC.

Welcome!

[2015-10-29 21:15] ehashman commented on #748
@SanketDG: it appears some work has already been done on this, many moons ago (about 900 or so commits ago). However, I don't know if it was completed or if it's still relevant. I'm going to turn it into a pull request so we can actually see its contents.

[2015-10-29 21:22] ehashman commented on #1680
Oh, I think this was resolved by the PR above. Thanks again @waseem18 !

[2015-10-29 21:22] #1680 closed

[2015-10-29 21:24] ehashman commented on #1567
Thanks @Deborah-Digges for fixing this!

[2015-10-29 21:24] #1567 closed

[2015-10-29 21:28] ehashman commented on #1506
Okay. I am going to close this as not applicable. Thanks for your report, @blairg23 !

[2015-10-29 21:28] #1506 closed

[2015-10-29 21:31] ehashman commented on #1442
Hi there! Not that I've done any investigation, but my feeling is that this may be because another GitHub project named "apps" under a different user has been imported, and there's a collision.

[2015-10-29 21:33] ehashman commented on #1338
Looks that way.

[2015-10-29 21:33] #1338 closed

[2015-10-29 21:35] ehashman commented on #1188
As the associated PR has been closed, I'm going to close this too.

[2015-10-29 21:35] #1188 closed

[2015-10-29 21:39] ehashman commented on #1204
I think this is fixed. Indeed, we've moved from MySQL to Postgres, so it's no longer applicable!

[2015-10-29 21:39] #1204 closed

[2015-10-29 21:40] ehashman commented on #1541
Was a pull request submitted for this? I don't think I ever saw one.

[2015-10-30 08:04] trishnaguha commented on #1752
```man ls``` works on cygwin shell. So Should I change ``` ls --help``` to ```man ls``` and change the description there? Or Should I just add "OS X bash' with "zsh type" ?

[2015-10-30 15:34] willingc opened #1760 "Add botbot.me guide to IRC to our resources and documentation"
There's a good IRC guide here: https://botbot.me/irc-guide/  We should share it with others.

[2015-10-30 17:36] Deborah-Digges commented on #1736
Hi @ehashman @willingc ! I've written a python service that responds to the pull request event for a repository by commenting on that pull request. You can see a sample [here](https://github.com/oh-penguin/public-repo-2/pull/3). The repository itself can be found [here](https://github.com/Deborah-Digges/pr-bot).  If this sounds good, I can share the link to the instance of it I've deployed, so tha

[2015-10-30 17:36] li3n3 commented on #1753
Ohhhh. I think I was going back to the first page with a checkbox (i.e. https://openhatch.org/missions/git/description), since it said "step one" instead of "Mission start page" on https://openhatch.org/missions/git/checkout.

Maybe just changing that would be clearer, then? (Or maybe I'm overthinking this!)

[2015-10-30 17:37] li3n3 commented on #1754
Thank you for your help!

Definitely would like to PR this stuff — I'll see you in IRC whether or not I get stuck there.  :)

[2015-10-30 19:19] #1752 closed

[2015-10-30 19:49] ehashman commented on #1736
This sounds good to me! I don't know if I have access to add webhooks, though.

[2015-10-30 19:50] ehashman commented on #1753
I agree re: changing the "step one" bit to make things more clear.

[2015-10-30 19:59] ehashman opened #1762 "Bugsets seems to have broken post-Heroku"
The bugsets page in production (e.g. [this test bugset I just created](https://openhatch.org/bugsets/4-a-post-heroku-test-event)) seems to have broken, possibly since the Heroku migration. The bugs won't expand, and inplaceedit doesn't seem to be working any more. I was going to submit an issue suggesting we link this somewhere so people can find it, but maybe not in its current state :\

[2015-10-30 20:09] ehashman opened #1763 "Update formatting on the bugsets error message "(Could not reach server when refreshing page data.)""
This text is gigantic and pops up any time a connection refresh fails (yet still better than the previous popup I used!). I think that we should

- [x] Only show this message after a lot of attempts fail. Currently if a single requests fails, it will pop up, but the next one 5 seconds later succeeding will clear the message. This is not a very good UX.
- [x] Update the CSS to shrink the message si

[2015-10-30 20:11] ehashman opened #1764 "Add link to bugsets to the main openhatch page"
Currently, http://openhatch.org/bugsets isn't linked anywhere on the site. This is a bit of a shame, because people won't be able to find it and use it.

Pending the fixes in #1762 and #1763, it would be cool to add a link to the main OpenHatch page so people can find this tool.

[2015-10-31 02:47] Deborah-Digges commented on #1736
The repo owner would need to. @paulproteus, @shaunagm could you help us out with this?

[2015-10-31 07:17] Deborah-Digges commented on #1736
Please follow the following steps to add the web hook:
1. Go to the settings page of the repository
2. Navigate to WebHooks and Services => Click on Add WebHook
3. For Payload URL enter https://young-reaches-2588.herokuapp.com/v1/PREvent
4. Choose Let me select Individual Events and choose the Pull Request Event
5. Add Webhook

[2015-10-31 12:48] Deborah-Digges commented on #1763
This looks good @gnarula. Thank you for you contribution!
<img width="1242" alt="screen shot 2015-10-31 at 6 15 33 pm" src="https://cloud.githubusercontent.com/assets/3866405/10863663/93c9f82e-7ffb-11e5-8b35-cba57a52a39d.png">

I've tested it and it works just fine :+1:
Please could you send us a mail to permit us to use your work if you haven't done so already: https://openhatch.readthedocs.org/e

[2015-10-31 12:57] gnarula commented on #1763
@Deborah-Digges sure thing. Done :)

[2015-10-31 13:01] #1763 closed

[2015-10-31 16:30] SanketDG commented on #1645
@ehashman pointed me to this issue.

Should I write on taking screenshots or recording gifs?

The software I use for screenshots and recording is [Kazam](https://launchpad.net/kazam) which is excellent.

Screenshots are straight forward jpeg files. About recordings, they are stored in `mp4`.
* First I upload the `mp4` file to https://vid.me/ which requires no account.
* Then I use http://imgur.com

[2015-10-31 17:15] willingc commented on #1645
Hi @SanketDG, Writing about taking screenshots and gifs would be a good addition to the documentation. :smile_cat:

Here's another option for creating GIFs. For those using windows and OS X, licecap is also a good option. We use it on Project Jupyter to create GIFs for user interface stuff.